{% extends "dashboard/theme_dashboard.html" %} 
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block "headerOfPage1" %}{% trans "Password" %}{% endblock %}

{% block "headerOfPage2" %}{% trans "Password" %}{% endblock %}

{% block "title" %}{% trans "Profile Details" %}{% endblock %}

{% block "bodyOfPage" %}

<div class="col-lg-12 col-md-12">
    <div class="utf_dashboard_list_box margin-top-0">
      <h4 class="gray"><i class="sl sl-icon-user"></i> {% trans "Password" %}</h4>
      <div class="utf_dashboard_list_box-static"> 
      
        <div class="my-profile">
            <form method="POST" id="mainform" class="needs-validation form-horizontal" novalidate>
                {% csrf_token %}
                <input type="hidden"  name="typeOfForm" value="mainData">
                <div class="row with-forms">
                  <div class="form-group">
                    <label class="form-label" for="passwordReg" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "password" %} </label>
                    <input type="password" id="passwordReg" name="passwordReg" required=""  class="form-control mb-1 required">
                    <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                      {% trans "Please fill this field" %}
                    </div> 
                  </div>


                  <div class="form-group">
                    <label class="form-label" for="password2" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "The Password Again" %}</label>
                    <input type="password" id="password2" name="password2" required=""  class="form-control mb-1 required">
                    <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                      {% trans "Please fill this field with the same password" %}
                    </div> 
                </div>

                </div>	
                <button class="button preview btn_center_item margin-top-15">{% trans "Save" %}</button>
            </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}




{% block "javascriptOfPage" %}


<script>
    
    (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
        });
        }, false);
        })();
    
    


        $('input[name=password2]').keyup(function () {
    'use strict';

    console.log($('input[name=passwordReg]').val());
    console.log($(this).val());
    if ($('input[name=passwordReg]').val() === $(this).val()) {
        this.setCustomValidity('');
    } else {
        this.setCustomValidity('Passwords must match');
    }
});


        
  $('#password_db').addClass('active');
  $('#profile_nav').addClass('current');
        </script>
{% endblock %}