{% extends "theme.html" %} 
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}



{% block "title" %}{% trans "Please check your Email to Activate your account" %}{% endblock %}

{% block "bodyOfPage" %}
<!-- Banner -->
<div class="search_container_block home_main_search_part main_search_block" data-background-image="/static/images/city_search_background.jpg">
  <div class="main_inner_search_block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{% trans "Find your Nearby" %} <span class="typed-words"></span></h2>
          <h4>{% trans "Find some of the best tips from around the city from our partners and friends." %}</h4>
          <div class="main_input_search_part">
            <div class="main_input_search_part_item">
              <input type="text" id="searchInputMhnaty" placeholder='{% trans "Search For Your Services" %}' value=""/>
            </div>
            <div class="main_input_search_part_item intro-search-field">
        <select id="dropdownMenuLink" class="selectpicker default categoryElementSelect" categoryId="" data-live-search="true"  data-selected-text-format="count" data-size="5" title='{% trans "Services" %}''>
                  {% for item in allMainCategories %}
                  <option value="{{item.id}}">{{item.name}}</option>
                  {% endfor %}
        </select>
      </div>

            <div class="main_input_search_part_item intro-search-field">
              <select id="listOfcities" data-placeholder='{% trans "City" %}'  class="selectpicker default" title='{% trans "City" %}' data-live-search="true" data-selected-text-format="count" data-size="5">
               
              </select>
            </div>


            <div class="main_input_search_part_item intro-search-field">
              <select id="listOfregions" data-placeholder='{% trans "Region" %}'  class="selectpicker default" title='{% trans "Region" %}' data-live-search="true" data-selected-text-format="count" data-size="5">
               
              </select>
            </div>


            <button class="button" onclick="goToSearchPage('{{LANGUAGE_CODE}}')">{% trans "Search" %}</button>
          </div>
    <div class="main_popular_categories">
      <h3>{% trans "Or Browse Popular Categories" %}</h3>	
            <ul class="main_popular_categories_list">
      <li> <a href="#">
                <div class="utf_box"> <i class="im im-icon-Chef-Hat" aria-hidden="true"></i>
                  <p>{% trans "Restaurant" %}</p>					
                </div>
                </a> 
      </li>
              <li> <a href="#">
                <div class="utf_box"> <i class="im im-icon-Dumbbell" aria-hidden="true"></i>
                  <p>{% trans "Fitness" %}</p>
                </div>
                </a> 
      </li>
              <li> <a href="#">
                <div class="utf_box"> <i class="im im-icon-Electric-Guitar" aria-hidden="true"></i>
                  <p>{% trans "Events" %}</p>
                </div>
                </a> 
      </li>
              <li> <a href="#">
                <div class="utf_box"> <i class="im im-icon-Hotel" aria-hidden="true"></i>
                  <p>{% trans "Hotels" %}</p>
                </div>
                </a> 
      </li>                
              <li> <a href="#">
                <div class="utf_box"> <i class="im im-icon-Home-2" aria-hidden="true"></i>
                  <p>{% trans "Real Estate" %}</p>
                </div>
                </a> 
      </li>
      <li> <a href="#">
                <div class="utf_box"> <i class="im im-icon-Business-Man" aria-hidden="true"></i>
                  <p>{% trans "Business" %}</p>
                </div>
                </a> 
      </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  


<a href="/{{LANGUAGE_CODE}}" class="flip-banner parallax" data-background="/static/images/city_search_background.jpg" data-color="#000" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666" style="background-image: url(&quot;/static/images/city_search_background.jpg&quot;); background-attachment: fixed; background-size: 1519.2px 1012.39px; background-position: 50% -232.621px;"><div class="parallax-overlay" style="background-color: rgb(0, 0, 0); opacity: 0.85;"></div>
  <div class="flip-banner-content">
  <h2 class="flip-visible">{% trans "Please check your Email to Activate your account" %}</h2>    
  </div>
</a>


     




      

{% endblock %}




{% block "javascriptOfPage" %}


<script>
  var typed = new Typed('.typed-words', {
  strings: [' {% trans "Needs" %} ',' {% trans "Concerns" %} ',' {% trans "Services" %} '],
    typeSpeed: 80,
    backSpeed: 80,
    backDelay: 4000,
    startDelay: 1000,
    loop: true,
    showCursor: true
  });
  
  
      
  getlistOfcities();
  getListOfRegions("");
  $('select').selectpicker('refresh');
  </script>
  

  
{% endblock %}