<!DOCTYPE html>

{%load static%}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<html>
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />
     
   
        
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/Logo 2.png"> 



<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">



        
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond20201101.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond-plugin-image-preview.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond-plugin-image-overlay.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond-plugin-get-file.css' %}">


<title>{% trans "My Page" %}</title>


    </head>


    <body>
      {% csrf_token %}
      <div id="loading">
        <div id="loadingImg"></div>
      </div>

      
       
<section id="company" >
        
  <div class="layer">
    <div style=" max-width: 100%; background-color: #414242 !important; ">
<div class="container p-0">

      <input type="hidden" id="idOfProfile" value="{{request.user.profile_set.last.id}}">
  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="direction:rtl">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/{{LANGUAGE_CODE}}">{% trans "Home" %}</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">انواع الخدمات</a>
              </li> -->
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/{{LANGUAGE_CODE}}/profile/">{% trans "Profile" %}</a>
              </li>
              {% endif %}
    
    
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/{{LANGUAGE_CODE}}/showUserMessages/{{id_of_Admin}}">{% trans "Customer Services" %}</a>
              </li>
              {% endif %}
    
              {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="/{{LANGUAGE_CODE}}/controlpanel/">{% trans "Control Panel" %}</a>
              </li>
              {% endif %}
              
              {% if LANGUAGE_CODE == 'en' %}
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="addReplaceLangCode('ar')">عربى</a>
              </li>
              {% endif %}
    
    
              {% if LANGUAGE_CODE != 'en' %}
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="addReplaceLangCode('en')" >English</a>
              </li>
              {% endif %}
    
              {% if not user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/{{LANGUAGE_CODE}}/accounts/login/">{% trans "Login" %}</a>
              </li>
              <li class="nav-item login">
                <a class="nav-link" href="/{{LANGUAGE_CODE}}/loadRegPage/">{% trans "Register" %}</a>
              </li>
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/{{LANGUAGE_CODE}}/logout/">{% trans "SignOut" %}</a>
              </li>
              {% endif %}
            
            </ul>
         </div>
         
         <a class="navbar-brand" href="#"><img src="/static/img/Logo 2.png" class="w-100" alt="logo"></a>
      
        </div>
        </nav>

      </div>

      </div>
    
  </div>
  

  </section>

  

    <section >
        <div class="container w-100">

            <div class="container-fluid light-style" style="direction: rtl;">

                <h4 class="font-weight-bold py-3 mb-4" style="text-align: right;">
                  {% trans "My Control Page" %}
                </h4>
            
                <div class="card overflow-hidden">
                  <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-2 pt-0">
                      <div class="list-group list-group-flush account-settings-links" style="    text-align: right;">
                        {% if userProfile.typeOfRegisteration == 'Normal' %}
                        <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change Password</a> -->
                        {% endif %}
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">{% trans "Add Details" %}</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-chat-links">{% trans "MailBox" %}</a>
                        <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">{% trans "Settings" %}</a> -->
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-info">
                           
                                <!-- Add Details List -->




                                

    <section id="searchResults" style="direction: ltr;">
        <div class="container w-100">


            
         

      
            <div class="row">
          
            

              <div class="col-md-9 results col-12 order-1">
                <div class="sort row w-100  p-0 m-0 mb-3">


                  <div class="dropdown col-6 col-md-3">
                    <a class="btn btn-secondary dropdown-toggle " href="#" type="button" id="orderButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans "New First" %}
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="orderButton">
                      <li><a class="dropdown-item" href="javascript:void(0)" >{% trans "New First" %}</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)">{% trans "Old First" %}</a></li>

                    </ul>
                  </div>


                
                
                  <div class="col-6 text-right col-md-1">
                    <p>:{% trans "Arrange" %}</p>
                  </div>
                </div>


                
                <div id="ListOfAdds"></div>
                


                
                <div aria-label="..." class="my-4 row mt-5">
                  
                  <input type="hidden" numberOFResultView="1" id="currentDraw"/>
                  <div class="row w-100">
                    <div class="col-1 p-0 m-0"></div>
                    <div class="page-item  col-3 text-center col-md-2 m-0 " id="goNextButton" onclick="getNextPage();">
                      <a class="page-link" href="javascript:void(0)"  style="border-top-left-radius: 8px;border-bottom-left-radius: 8px;">{% trans "Next" %}</a>
                    </div>
                      <div class="pt-1 col-5 text-center col-md-6  m-0 p-0">{% trans "Show" %} <span id="currentNumber">---</span> {% trans "From Results" %} <span id="AllRecords">---</span></div>                  
                      <div class="page-item  col-3 text-center col-md-2 disabled m-0" id="goBackButton" onclick="getLastPage();">
                        <a class="page-link" href="javascript:void(0)"   tabindex="-1" aria-disabled="true" style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;">{% trans "Last" %}</a>
                      </div>
                  </div>
                </div>


              </div>


              <div class="col-md-3 services mb-5 d-md-block order-0 order-md-1">
                <div class="services-title">
                  <h4>{% trans "Detailed Search" %}</h4>
                </div>
                
                <div class="services-body">

                  <button class="accordion">{% trans "Services" %}</button>

                  <div class="panel CategoriesSearch  mt-2">
                

                

                  </div>


                  <button class="accordion">{% trans "City" %}</button>
                  <div class="panel citySearch mt-2">
                    
                  
  
                  </div>
  
  
                <button class="accordion">{% trans "Region" %}</button>
                  <div class="panel regionSearch  mt-2">
                    
                  </div>
                  
                  <button class="accordion">{% trans "Experienses" %}</button>
  
                  <div class="panel expSearch  mt-2">
                    
                  </div>
  
                  <button class="accordion">{% trans "Rate" %}</button>
  
                  <div class="panel" style="padding-top: 10px;padding-bottom: 10px;">
                    <div class="row mt-4 mb-3" style="direction: rtl;max-height: 87px;">
                      {% trans "Rate" %}: <b class="ml-3">0</b> 
                      <input  id="sliderMain" type="text" class="span2 ex2" value="" data-slider-min="0" data-slider-max="5" data-slider-step="0.5" data-slider-value="[0,5]"/>
                        <b class="mr-3">5</b>
                    </div>
                  </div>
                  <div  style="padding: 10px;">
                  <a class="btn btn-warning w-100 " onclick="getAddsNew();" style="direction: rtl;"><i class="fa fa-search"></i> {% trans "Search" %} </a>
                    </div>
                </div>

                <div class="services-body mt-3 d-md-block d-none" style=" border-style: solid; border-radius: 7px; border-width: 1px; ">
                  <a href="/"> 
                    <img src="/media/attachments/allImages/1.jpg"  alt="logo" style="width: 100%;height: 550px;">
                  </a>
                </div>
              </div>

            </div>


            

        </div>
    </section>










                         
                        </div>






                        <!-- ---chat--- -->
                        <div class="tab-pane fade" id="account-chat-links">
                          <div class="card-body pb-2" style=" text-align: right;">
                            
                            <div class="row">
                              <div class="col-md-4 col-xl-4 chat">
                                <div class="card" >
                                    <div class="card-header msg_head w-100">
                                        <div class="d-flex bd-highlight" >
                                        
                                            <div class="user_info w-100" >
                                                <button id="theadd" value="{{theAddObj.id}}" class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                  {{theAddObj.name}}- {{theAddObj.category.name}}
                                                </button>
                                                <div class="collapse" id="collapseExample">
                                                  <div class="card card-body" style=" height: 369px; overflow-y: auto; ">
                                                      {%for profile in profilesOfTheAdd %}
                                                         <a href="javascript:void(0)"  id="{{profile.id}}" value="{{profile.id}}" class="profile"   > {{profile.user.first_name}} </a>
                                                      {%endfor%}
                                                  </div>
                                                </div>
                                            
                                            </div>
                            
                                        </div>
                                        
                                    </div>
                                 
                                
                                    </div>
                                </div>
                            

                            <div class="col-md-8 col-xl-8 chat">
                              <div class="card">
                                  <div class="card-header msg_head">
                                      <div class="d-flex bd-highlight">
                                          <div class="img_cont">
                                              <img width="50" height="50" id="imageOfCurrentChat" style="display: none;" src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                              <span class="online_icon"></span>
                                          </div>
                                          <div class="user_info">
                                              <span id="nameOfCurrentChat">messages </span>
                                              <p id="numberOfCurrentChat"></p>
                                          </div>
                                       
                                          </div> 
                                      </div>
                                  </div>
                                  <div class="card-body msg_card_body" id="append-messages">
                                   
                                  </div>
                                  <div  class="card-footer mb-4" id="messageControl" style="display: none;">
                                      <div class="input-group">
                                   
                                   
        
                                        <textarea style="width: 100%;height: 34px;" id="message-text" class="mb-2" name ="input_message"></textarea>
                                              <button class="btn btn-primary btn-lg" style="width: 100%;" type="submit" id="sendMessage" >Send</button>
                                         
                                      </div>
                       
                      
                      </div>
                    </div>
                  </div>
                </div>
            
             
              </div>
            

        </div>
    </section>



    <section id="footer-contact">
      <div class="layout">
      <div class="container">
    
          <div class="row m-auto">
    
              <div class="col-md-4">
                  <img src="/static/img/Logo 2.png"  alt="footer-logo">
    
              </div>
    
              <div class="col-md-4">
                  <h5 class="ml-4">{% trans "Contact Info" %}</h5>
                  <p class="ml-4">{% trans "Address" %}
                      </p>
    
              </div>
    
              <div class="col-md-4 Info">
                  <h5>{% trans "Our Info" %}</h5>
                  <ul>
                      <li><a href="#">{% trans "Home" %} </a></li>
                      <li><a href="#">{% trans "All Services" %} </a></li>
                  </ul>
    
              </div>
          </div>
          </div>
      </div>
    </section>




    <script src="{% static 'js/jquery-3.5.1.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    
    <script src="{% static 'js/sweetalert.min.js' %}"></script>


    <script src="{% static 'js/index_searchResults.js' %}"></script> 
    <script src="{% static 'js/rating.js' %}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script> 

    <script src="{% static 'js/typeahead.bundle.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap-tagsinput.min.js' %}"></script> 

    <script src="{% static 'js/mainFunctions.js' %}"></script>

    
    <script src="{% static 'js/typeahead.bundle.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap-tagsinput.min.js' %}"></script> 

    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="{% static 'js/filepond-plugin-get-file.js' %}"></script>
    <script src="{% static 'js/filepond-plugin-image-preview.js' %}"></script> 
    <script src="{% static 'js/filepond.js' %}"></script>


<script>
    
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();




    var idOfToUserProfile = ''






    
$('#message-text').bind("enterKey",function(e){
   //do stuff here
   console.log("Ahmed");
   sendMessage();
});
$('#message-text').keyup(function(e){
    if(e.keyCode == 13)
    {
        $(this).trigger("enterKey");
    }
});


$('#sendMessage').on('click', function(e){
     sendMessage();

    });




    function sendMessage(){
      
 
      var messageContent = $("#message-text").val();
      var theaddId =  $("#theadd").attr('value')
      var fromProfileId  = $('#idOfProfile').val()

      $.ajax({ 
        type: 'POST',
        url: '/ar/sendMessage',
        data: { 
            'messageContent': messageContent,
            'theaddId':theaddId,
            'fromProfileId':fromProfileId,
            'idOfToUserProfile':idOfToUserProfile,

          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(data) {

        messageData = data['messagesData']
        var profileId  = $('#idOfProfile').val()


            // if (messageData.from_user__id == profileId){
              $.each(messageData, function(index, value){
                date = value.created
                formatedDate=date.replace("T", " ").split('.')[0];
                console.log(formatedDate,"date")
            
                
                $('#append-messages').append(
              `<div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img width="50" height="50" src="`+value.from_user_image+`" class="rounded-circle user_img_msg"/>
                </div>
              <div class="msg_cotainer"> `+value.message+`<br>
                <span class="msg_time_send">`+formatedDate+`</span>
                </div>
              </div>`);
            

              })

          


              objDiv = document.getElementById("append-messages");
              objDiv.scrollTop = objDiv.scrollHeight;
                  

              $('#message-text').val('');

          }
    
        })
     


    }

    idOfProfileOfTheAdd = null;


    $('.profile').on('click', function(e) {
          e.preventDefault()
          console.log("clicked")
          idOfFromUserProfile = $(this).attr('id')
          idOfToUserProfile = idOfFromUserProfile
          idOfProfileOfTheAdd = $("#theadd").attr('value')
          console.log(idOfFromUserProfile,"//",idOfProfileOfTheAdd)
         

          updateMessages(true);
    });
  

    

  var intervalId = window.setInterval(function(){
  /// call your function here
  if(idOfProfileOfTheAdd!=null){
      updateMessages(false);
    }
}, 2000);
    



    function updateMessages(stateDrop){
      $.ajax({ 
        type: 'POST',
        url: '/ar/getProfileMessages',
        data: { 
            'idOfFromUserProfile': idOfFromUserProfile,
            'idOfProfileOfTheAdd':idOfProfileOfTheAdd,

          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(data) {
          
          $('#imageOfCurrentChat').attr('src',data['imageOfCurrentChat']);
          $('#imageOfCurrentChat').css("display", "block")
          $('#messageControl').css("display", "block")
          
          $('#nameOfCurrentChat').html("Messages From "+data['nameOfCurrentChat']);
          
          $('#numberOfCurrentChat').html(data['numberOfCurrentChat']+" Message");
            var messages = data['messagesData']
            // var profileId = "{{request.user.getUserLastProfile}}"
            var profileId  = $('#idOfProfile').val()

            $('#append-messages').empty()
            $.each(messages, function(index, value){
              console.log(value)
            var date = value.created
            formatedDate=date.replace("T", " ").split('.')[0];

            if ((value.from_user__id).toString() == (profileId).toString()){
            $('#append-messages').append(
              `<div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img width="50" height="50" src="`+value.from_user_image+`" class="rounded-circle user_img_msg"/>
                </div>
              <div class="msg_cotainer"> `+value.message+`<br>
                <span class="msg_time_send">`+formatedDate+`</span>
                </div>
              </div>`)
            
          }
          else {
            $('#append-messages').append(
              `<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">`+value.message+`
                <br><span" class="msg_time_send">`+formatedDate+`</span>
                </div>
                <div class="img_cont_msg">
                  <img width="50" height="50" src="`+value.from_user_image+`" class="rounded-circle user_img_msg">
                </div>
              </div>`)
          }
        
        });
            


        
if(stateDrop){
  
  objDiv = document.getElementById("append-messages");
          objDiv.scrollTop = objDiv.scrollHeight;
}

                  

          }
    
        })
     

    }



</script>















<script>
    var citiesSearch="";
    var categoriesSearch="";
    var experiensesSearch="";
    var regionsSearch="";
    var rateMax="";
    var rateMin="";

    $.ajax({
              type: 'POST',
              url: '/en/getlistOfcities',
              data: { 
                 
              },
              headers:{
                  "X-CSRFToken": csrftoken
                   },
              dataType: 'json',
              cache: false,
              success: function(result) {
                 if(result['Result']=='Ok'){
          
                  result.data.forEach(element => {
                  
                    $('.citySearch').append(`

                              <div class="form-check">
                                <label for="city_`+element.id+`">`+element.name+`</label>
                                  <input type="checkbox" id="city_`+element.id+`" name="city" value="`+element.name+`">
                              </div>

                              `)
                    

                             
                  
                  });


                  $('input[name="city"]').click(function() {
                      // console.log(this.value);
                      citiesSearch = $("input[name='city']:checked").map(function() {
                        return $(this).attr('value');
                      })
                      .get() //returns basic array
                      .join(','); //create a string

                      cityData = $("input[name='city']:checked").map(function() {
                        return "'"+$(this).attr('value')+"'";
                      })
                      .get() //returns basic array
                      .join(','); //create a string

                      // console.log(cityData);
                      if(cityData==""){
                        handleTheRegionsForList("''");
                      }else{
                        handleTheRegionsForList(cityData);
                      }
                      
                  });
                 
          
                 
               
                 }

              },error: function (xhr, ajaxOptions, thrownError) {
                  console.log(thrownError)
                     }
          });
          

    function handleTheRegionsForList(city){
      $.ajax({
              type: 'POST',
              url: '/en/getListOfRegions',
              data: { 
                  'city': city
              },
              headers:{
                  "X-CSRFToken": csrftoken
                   },
              dataType: 'json',
              cache: false,
              success: function(result) {
                 if(result['Result']=='Ok'){
                  $('.regionSearch').empty();
                  result.data.forEach(element => {
                  // console.log(element.id)
                    $('.regionSearch').append(`

                              <div class="form-check">
                                <label for="region_`+element.id+`">`+element.name+`</label>
                                  <input type="checkbox" id="region_`+element.id+`" name="region" value="`+element.name+`">
                              </div>

                              `)
                    
                              $('input[name="region"]').click(function() {
                      // console.log(this.value);
                      regionsSearch = $("input[name='region']:checked").map(function() {
                        return $(this).attr('value');
                      })
                      .get() //returns basic array
                      .join(','); //create a string
                  });
                              
                  
                  });


                
          
                 
               
                 }

              },error: function (xhr, ajaxOptions, thrownError) {
                  console.log(thrownError)
                     }
          });
          


    }
  

          
    
    $.ajax({
              type: 'POST',
              url: '/en/getAllCategoriesJson',
              data: { 
                  'category': ''
              },
              headers:{
                  "X-CSRFToken": csrftoken
                   },
              dataType: 'json',
              cache: false,
              success: function(result) {
                 if(result['Result']=='Ok'){
          
                  result.data.forEach(element => {
                  
                    $('.CategoriesSearch').append(`

                              <div class="form-check">
                                <label for="Categories_`+element.id+`">`+element.name+`</label>
                                  <input type="checkbox" id="Categories_`+element.id+`" name="Categories" value="`+element.id+`">
                              </div>

                              `)
                    

                             
                  
                  });


                
                  $('input[name="Categories"]').click(function() {
                      // console.log(this.value);
                      categoriesSearch = $("input[name='Categories']:checked").map(function() {
                        return $(this).attr('value');
                      })
                      .get() //returns basic array
                      .join(','); //create a string
                  });
                 
               
                 }

              },error: function (xhr, ajaxOptions, thrownError) {
                  console.log(thrownError)
                     }
          });
          



            
    
    $.ajax({
              type: 'POST',
              url: '/en/getAllExperiansesJson',
              data: { 
                  'tag': ''
              },
              headers:{
                  "X-CSRFToken": csrftoken
                   },
              dataType: 'json',
              cache: false,
              success: function(result) {
                 if(result['Result']=='Ok'){
          
                  result.data.forEach(element => {
                  
                    $('.expSearch').append(`

                              <div class="form-check">
                                <label for="exp_`+element.id+`">`+element.name+`</label>
                                  <input type="checkbox" id="exp_`+element.id+`" name="exp" value="`+element.name+`">
                              </div>

                              `)
                    
                  $('input[name="exp"]').click(function() {
                      // console.log(this.value);
                      experiensesSearch = $("input[name='exp']:checked").map(function() {
                        return $(this).attr('value');
                      })
                      .get() //returns basic array
                      .join(','); //create a string
                  });
                            
                  
                  });


                
          
                 
               
                 }

              },error: function (xhr, ajaxOptions, thrownError) {
                  console.log(thrownError)
                     }
          });
          

          handleTheRegionsForList("''");
  </script>

  <!-- Block of the Main Add handler -->
  <script>

if($('#orderButton').html()=='{% trans "New First" %}'){
    typeOfOrder = '-';
  }else{
    typeOfOrder = '';
  }

$(".dropdown-item").click(function(event) {
    $(this).parents('.dropdown').find('.dropdown-toggle').html($(event.target).html());

    if($('#orderButton').html()=='{% trans "New First" %}'){
    typeOfOrder = '-';
  }else{
    typeOfOrder = '';
  }


  getAdds();
  
});



function getAddsNew(){
    
    category = '';
    city ='';
    region = '';
   getAdds();
}

     
    var url = new URL(window.location);
    var category = url.searchParams.get("category");
    var city = url.searchParams.get("city");
    var region = url.searchParams.get("region");
    // console.log(region);



 
  function getBlock(data){
    phoneStatment = '';
            if(data.phone !='' && data.phone!=' '){

              phoneStatment =' <div style=" text-align: center; " class="phone mb-3" datatel="'+data.phone+'"><a href="#"> {% trans "Show the Number" %}  <i class="fas fa-phone pl-3"></i> </a> </div>';
              // phoneStatment = '<p class="card-text pt-1">'+data.phone+'</p>';
            }

            addressStatment = '';
            if(data.address !=''  && data.address!=' '){
              addressStatment = '<p class="card-text pt-1">'+data.address+'<i class="fas fa-map-marker-alt pl-3"></i></p>';
            }
            

        if(data.featureAddNumber>0){
          featureType = '<i class="fa fa-cannabis text-info m-2"></i>';
        }else{
          featureType='';
        }

      return  (`

      <div class="card mb-3 w-100 row m-0 container p-2">
      <div class="row m-0">

        <div class="col-md-4 contacts order-md-1 order-3 ">
          <h4>{% trans "Details or Service Provider" %}</h4>
          `+phoneStatment+addressStatment+`
         
          <div class="evaluate w-100">

            <h5>{% trans "Service Provider Rating" %}</h5>
            <div class="evaluate-clints">
             
              
              


              <div class="row">
                      <div id = "halfstarsReview`+data.id+`" class=" mb-3" dir="rtl"></div>
  
              
              </div>




            </div>
          </div>

        </div>
        
        <div class="col-md-8 order-md-2 order-1 ">
          <div class="row">

            <div class="col-md-7 order-md-2 order-1 p-0">
              <div class="card-body">
                <a href="/{{LANGUAGE_CODE}}/CompanyPage?id=`+data.id+`" class="card-title mb-0 nameOfService">`+data.name+`</a>
                <p class="card-text mb-2">
                  `+data.details+`</p>
                <a class="card-text mb-1" style="direction: rtl;color: #88b334;" href="/{{LANGUAGE_CODE}}/SearchPage/?category=`+data.category_name+`&provider=&city=&region=">`+featureType+data.category_name+` </a>
              </div>
            </div>

            <div class="col-md-5 order-md-3 ml-3 m-md-0">
              <div class="border">
                <div class="profile-pic">
              <img src="`+data.mainImage+`" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
            </div>


          </div>
          <div class="row m-md-1 mb-2">
             
            <div class="col-md-6 p-0 pr-1 col-6">
              <a href="/showUserMessages/`+data.id+`" target="add" class="btn btn-warning w-100" style="direction: rtl;"><i class="fa fa-comments"></i> {% trans "chat" %} </a>
            </div>
            <div class="col-md-6 p-0 pr-1 col-6">
              <a class="btn btn-warning w-100 {% if not user.is_authenticated %} disabled {% endif %}"  href="tel:`+data.phone+`" style="direction: rtl;"><i class="fa fa-phone"></i> {% trans "Call" %} </a>
            </div>
            
          </div>
        </div>

        
      </div>
    </div>
    </div>
      `);
  }
  
  




  
  getAdds();


    function getNextPage(){
      resultRecordsFiltered =  $('#AllRecords').html();
      if(parseInt($('#currentDraw').attr('numberOFResultView'))!=parseInt(resultRecordsFiltered)){
                    
        $('#goBackButton').removeClass('disabled');
        pageNumber = parseInt($('#currentDraw').attr('numberOFResultView'))+1;
        getPageOfResults(pageNumber)
      }
    }

    function getLastPage(){

     

      resultRecordsFiltered =  $('#AllRecords').html();
      if(parseInt($('#currentDraw').attr('numberOFResultView'))!=1){
                    
        $('#goNextButton').removeClass('disabled');
          pageNumber = $('#currentDraw').attr('numberOFResultView')-1;
          getPageOfResults(pageNumber);
        }

    }


    function getPageOfResults(pageNumber){
      
      $('#currentDraw').attr('numberOFResultView',pageNumber);
      getAdds();
    }

    function getAdds(){
      showLoader();
      // console.log($('#currentDraw').attr('numberOFResultView'));
      if(parseInt($('#currentDraw').attr('numberOFResultView'))==1){
        // console.log('StartPage');

        $('#goBackButton').removeClass('disabled');
        $('#goNextButton').removeClass('disabled');
        $('#goBackButton').addClass('disabled');
      
        
      }

      // console.log($('#currentDraw').attr('numberOFResultView'));
      
        start = ($('#currentDraw').attr('numberOFResultView')-1)*3+1;
      
        // console.log(start)
      $.ajax({
                type: 'POST',
                url: '/{{LANGUAGE_CODE}}/getNewResultsForAds',
                dataType: 'json',
                data: { 
                    'length':3,
                    'start':start,
                    'draw':$('#currentDraw').attr('numberOFResultView'),
                    'search[value]':'',
                    'category':category,
                    'city':city,
                    'region':region,
                    'citiesSearch':citiesSearch,
                    'regionsSearch':regionsSearch,
                    'categoriesSearch':categoriesSearch,
                    'experiensesSearch':experiensesSearch,
                    'rateMin':rateMin,
                    'rateMax':rateMax,
                    'typeOfOrder':typeOfOrder
                },
                headers:{
                    "X-CSRFToken": csrftoken
                        },
                cache: false,
                success: function(result) {
                  
                  hideLoader();
                  $('#ListOfAdds').empty();

                  if(parseInt($('#currentDraw').attr('numberOFResultView'))==parseInt(result.recordsFiltered)){
                    // console.log('StartPage');

                    $('#goBackButton').removeClass('disabled');
                    $('#goNextButton').removeClass('disabled');
                    $('#goNextButton').addClass('disabled');
                  
                    
                  }

                    $('#currentDraw').attr('numberOFResultView',result.draw)
                    $('#AllRecords').html(result.recordsFiltered);
                    $('#currentNumber').html(result.draw);
                      
                      result.data.forEach(element => {
                        block = getBlock(element);
                        $('#ListOfAdds').append(block);
                        $("#halfstarsReview"+element.id).rating({
                          "half": true,
                          "halfStar":"fas fa-star-half-alt fa-flip-horizontal",
                          "filledStar":"fas fa-star",
                          "readonly":true,
                          "value":element.averageRate,
                          "click": function (e) {
                              // console.log(e);
                              //$(".halfstarsInput").val(e.stars);
                          }
                      });

                      });
                      
                      $('.phone').hidePhoneNum();


                      
                },
                error: function (xhr, ajaxOptions, thrownError) {
                  hideLoader();
                  swal('{% trans "Error" %}', '{% trans "Problem While Loading" %}', "error");
                }
            });


        
    }

    


   
  </script>

<script>








// With JQuery
$(".ex2").slider({});

$(".ex2").on("slide", function(slideEvt) {
rateMax=slideEvt.value[1];
rateMin=slideEvt.value[0];
if(rateMin==0){
  rateMin = '';
}
  // $("#ex6SliderVal").text(slideEvt.value);
});





</script>





<script>
  

(function($) {
                        $.fn.hidePhoneNum = function(options) {
                    
                            var settings = $.extend({
                                showNumber: 3,
                                linkClass: 'tel-link'
                            }, options);
                    
                            return this.each(function() {
                                var telNum = $(this).attr("datatel"),
                                        htmlNum = $(this).html(),
                                        myRegex = /[\s-\(\()]/g,
                                        telNewNum = telNum.replace(myRegex, '');
                    
                                        console.log(telNum);
                                $(this).html(telNum.substr(0, settings.showNumber) + " " + htmlNum);
                                
                                $(this).find('a').on('click', function(e) {
                                    e.preventDefault();
                                    if("{{userProfile.user.is_authenticated}}"=="True"){
                                    $(this).parent().html("<a href='tel:"+telNewNum+"' class='"+settings.linkClass+"'>"+telNum+" <i class='fas fa-phone pl-3'></i></a>");
                                    }else{
                                      swal("تنبيه", "لا يمكنك القيام بذلك برجاء تسجيل الدخول", "warning");
                                    }
                                })
                    
                            });
                        };
                    }(jQuery));





</script>

</body>

    </html>