{% extends "theme.html" %} 
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block "title" %}{% trans "Search" %}{% endblock %}
{% block "bodyOfPage" %}

<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{% trans "Search For Your Services" %}</h2>
        <nav id="breadcrumbs">
          <ul>
            <li><a href="/{{LANGUAGE_CODE}}/">{% trans "Home" %}</a></li>
            <li>{% trans "Services" %}</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    
    <!-- Sidebar -->
    <div id="searchForMobile" class="col-lg-4 col-md-4 d-md-none  d-sm-block">
      <div class="sidebar">
        <div class="utf_box_widget margin-bottom-35">
          <h3><i class="sl sl-icon-direction"></i> {% trans "Filter" %}</h3>			
                     
          
          <div class="services mb-5 d-md-block order-0 order-md-1">
            <div class="services-title">
              <h4>{% trans "Detailed Search" %}</h4>
            </div>
            
            <div class="services-body">

              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Services" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel CategoriesSearch  mt-2"></div>
                </div>
              </div>


              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "City" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel citySearch  mt-2"></div>
                </div>
              </div>

              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Region" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel regionSearch  mt-2"></div>
                </div>
              </div>

             


              

              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Experienses" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel expSearch  mt-2"></div>
                </div>
              </div>


              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Rate" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="row mt-4 mb-3" style="direction: rtl;max-height: 87px;">
                    {% trans "Rate" %}: <b class="ml-3">0</b> 
                    <input  type="text" class="span2 ex2" value="" data-slider-min="0" data-slider-max="5" data-slider-step="0.5" data-slider-value="[0,5]"/>
                      <b class="mr-3">5</b>
                  </div>
                </div>
              </div>
              
            
            </div>

            
          </div>
          
          <button class="button fullwidth_block margin-top-5" onclick="getAddsNew();">{% trans "Search" %}</button>
        </div>		  
        <div class="services-body mt-3 d-md-block d-none" style=" border-style: solid; border-radius: 7px; border-width: 1px; ">
          <a href="/"> 
            <img src="/media/attachments/allImages/1.jpg"  alt="logo" style="width: 100%;height: 550px;">
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 order-2">
      
      <div class="row" id="ListOfAdds">
        
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="utf_pagination_container_part margin-top-20 margin-bottom-70">
            
            <input type="hidden" numberOFResultView="1" id="currentDraw"/>
            <nav class="pagination">
              <ul>
                <li id="goBackButton" onclick="getLastPage();"><a href="javascript:void(0)"><i class="sl sl-icon-arrow-{% if LANGUAGE_CODE == 'ar' %}right{% else %}left{% endif %}"></i></a></li>
                <li><div >{% trans "Show" %} <span id="currentNumber">---</span> {% trans "From Results" %} <span id="AllRecords">---</span></div></li>
                <li id="goNextButton" onclick="getNextPage();"><a href="javascript:void(0)"><i class="sl sl-icon-arrow-{% if LANGUAGE_CODE == 'ar' %}left{% else %}right{% endif %}"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sidebar -->
    <div id="searchForComputer" class="col-lg-4 col-md-4 d-md-block d-none">
      <div class="sidebar">
        <div class="utf_box_widget margin-bottom-35">
          <h3><i class="sl sl-icon-direction"></i> {% trans "Filter" %}</h3>			
                     
          
          <div class="services mb-5 d-md-block order-0 order-md-1">
            <div class="services-title">
              <h4>{% trans "Detailed Search" %}</h4>
            </div>
            
            <div class="services-body">

              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Services" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel CategoriesSearch  mt-2"></div>
                </div>
              </div>


              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "City" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel citySearch  mt-2"></div>
                </div>
              </div>

              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Region" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel regionSearch  mt-2"></div>
                </div>
              </div>

             


              

              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Experienses" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="panel expSearch  mt-2"></div>
                </div>
              </div>


              <div class="toggle-wrap"> 
                <span class="trigger active">
                <a href="#">{% trans "Rate" %}<i class="fa fa-angle-double-right"></i> </a>
                </span>
                <div class="toggle-container" >
                  <div class="row mt-4 mb-3" style="direction: rtl;max-height: 87px;">
                    {% trans "Rate" %}: <b class="ml-3">0</b> 
                    <input  type="text" class="span2 ex2" value="" data-slider-min="0" data-slider-max="5" data-slider-step="0.5" data-slider-value="[0,5]"/>
                      <b class="mr-3">5</b>
                  </div>
                </div>
              </div>
              
            
            </div>

            
          </div>
          
          <button class="button fullwidth_block margin-top-5" onclick="getAddsNew();">{% trans "Search" %}</button>
        </div>		  
        <div class="services-body mt-3 d-md-block d-none" style=" border-style: solid; border-radius: 7px; border-width: 1px; ">
          <a href="/"> 
            <img src="/media/attachments/allImages/1.jpg"  alt="logo" style="width: 100%;height: 550px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="utf_cta_area_item utf_cta_area2_block">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="utf_subscribe_block clearfix">
                  <div class="col-md-8 col-sm-7">
                      <div class="section-heading">
                          <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                          <p class="utf_sec_meta">
                              Subscribe to get latest updates and information.
                          </p>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-5">
                      <div class="contact-form-action">
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>



{% endblock %}




{% block "javascriptOfPage" %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script> 



<script>


if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 // some code..
$('#searchForComputer').empty();

}else{
$('#searchForMobile').empty();

}

  var citiesSearch="";
  var categoriesSearch="";
  var experiensesSearch="";
  var regionsSearch="";
  var rateMax="";
  var rateMin="";

  $.ajax({
            type: 'POST',
            url: '/en/getlistOfcities',
            data: { 
               
            },
            headers:{
                "X-CSRFToken": csrftoken
                 },
            dataType: 'json',
            cache: false,
            success: function(result) {
               if(result['Result']=='Ok'){
        
                result.data.forEach(element => {
                
                  $('.citySearch').append(`

                            <div class="form-check">
                              <input class="inputCheckFilter" type="checkbox" id="city_`+element.id+`" name="city" value="`+element.name+`">
                              <label class="labelFilter" for="city_`+element.id+`">`+element.name+`</label>
                            </div>

                            `)
                  

                           
                
                });


                $('input[name="city"]').click(function() {
                    // console.log(this.value);
                    citiesSearch = $("input[name='city']:checked").map(function() {
                      return $(this).attr('value');
                    })
                    .get() //returns basic array
                    .join(','); //create a string

                    cityData = $("input[name='city']:checked").map(function() {
                      return "'"+$(this).attr('value')+"'";
                    })
                    .get() //returns basic array
                    .join(','); //create a string

                    // console.log(cityData);
                    if(cityData==""){
                      handleTheRegionsForList("''");
                    }else{
                      handleTheRegionsForList(cityData);
                    }
                    
                });
               
        
               
             
               }

            },error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                   }
        });
        

  function handleTheRegionsForList(city){
    $.ajax({
            type: 'POST',
            url: '/en/getListOfRegions',
            data: { 
                'city': city
            },
            headers:{
                "X-CSRFToken": csrftoken
                 },
            dataType: 'json',
            cache: false,
            success: function(result) {
               if(result['Result']=='Ok'){
                $('.regionSearch').empty();
                result.data.forEach(element => {
                // console.log(element.id)
                  $('.regionSearch').append(`

                            <div class="form-check">
                                <input class="inputCheckFilter" type="checkbox" id="region_`+element.id+`" name="region" value="`+element.name+`">
                              <label  class="labelFilter"  for="region_`+element.id+`">`+element.name+`</label>
                            </div>

                            `)
                  
                            $('input[name="region"]').click(function() {
                    // console.log(this.value);
                    regionsSearch = $("input[name='region']:checked").map(function() {
                      return $(this).attr('value');
                    })
                    .get() //returns basic array
                    .join(','); //create a string
                });
                            
                
                });


              
        
               
             
               }

            },error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                   }
        });
        


  }


        
  
  $.ajax({
            type: 'POST',
            url: '/en/getAllCategoriesJson',
            data: { 
                'category': ''
            },
            headers:{
                "X-CSRFToken": csrftoken
                 },
            dataType: 'json',
            cache: false,
            success: function(result) {
               if(result['Result']=='Ok'){
        
                result.data.forEach(element => {
                
                  $('.CategoriesSearch').append(`

                            <div class="form-check">
                                <input class="inputCheckFilter" type="checkbox" id="Categories_`+element.id+`" name="Categories" value="`+element.id+`">
                              <label  class="labelFilter"  for="Categories_`+element.id+`">`+element.name+`</label>
                            </div>

                            `)
                  

                           
                
                });


              
                $('input[name="Categories"]').click(function() {
                    // console.log(this.value);
                    categoriesSearch = $("input[name='Categories']:checked").map(function() {
                      return $(this).attr('value');
                    })
                    .get() //returns basic array
                    .join(','); //create a string
                });
               
             
               }

            },error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                   }
        });
        



          
  
  $.ajax({
            type: 'POST',
            url: '/en/getAllExperiansesJson',
            data: { 
                'tag': ''
            },
            headers:{
                "X-CSRFToken": csrftoken
                 },
            dataType: 'json',
            cache: false,
            success: function(result) {
               if(result['Result']=='Ok'){
        
                result.data.forEach(element => {
                
                  $('.expSearch').append(`

                            <div class="form-check">
                                <input class="inputCheckFilter" type="checkbox" id="exp_`+element.id+`" name="exp" value="`+element.name+`">
                              <label  class="labelFilter"  for="exp_`+element.id+`">`+element.name+`</label>
                            </div>

                            `)
                  
                $('input[name="exp"]').click(function() {
                    // console.log(this.value);
                    experiensesSearch = $("input[name='exp']:checked").map(function() {
                      return $(this).attr('value');
                    })
                    .get() //returns basic array
                    .join(','); //create a string
                });
                          
                
                });


              
        
               
             
               }

            },error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError)
                   }
        });
        

        handleTheRegionsForList("''");
</script>

<!-- Block of the Main Add handler -->
<script>

if($('#orderButton').html()=='{% trans "New First" %}'){
  typeOfOrder = '-';
}else{
  typeOfOrder = '';
}

$(".dropdown-item").click(function(event) {
  $(this).parents('.dropdown').find('.dropdown-toggle').html($(event.target).html());

  if($('#orderButton').html()=='{% trans "New First" %}'){
  typeOfOrder = '-';
}else{
  typeOfOrder = '';
}


getAdds();

});


function getAddsNew(){

   category = '';
   city ='';
   region = '';
   categorySub = '';
  getAdds();
}
   
  var url = new URL(window.location);
  var category = url.searchParams.get("category");
  var city = url.searchParams.get("city");
  var region = url.searchParams.get("region");
  var categorySub = url.searchParams.get("categorySub");
  // console.log(region);




function getBlock(data){
  phoneStatment = '';
          if(data.phone !='' && data.phone !=null && data.phone!=' '){
            phoneStatment = '<span class="phone"  datatel="'+data.phone+'"> <i class="sl sl-icon-phone"></i> {% trans "Show the Number" %}  </span>'
            
          }

          priceStatment = '';
          if(data.price !='' && data.price !=null && data.price!=' '){
            priceStatment = '<span class="utf_meta_listing_price"><i class="fa fa-tag"></i> $'+data.price+'</span>	';
            
          }
          addressStatment = '';
          if(data.address !=''  && data.address!=null&& data.address!=' '){
            addressStatment = '<span><i class="sl sl-icon-location"></i> '+data.address+'</span>';
          }
          

      if(data.featureAddNumber>0){
        featureType = '<span class="utp_approve_item"><i class="utf_approve_listing"></i></span>';
      }else{
        featureType='';
      }



  return (`
  
  <div class="col-lg-12 col-md-12">
          <div class="utf_listing_item-container list-layout"> 
            <a href="javascript:void(0)" class="utf_listing_item">
            <div class="utf_listing_item-image"> 
              <img src="`+data.mainImage+`" alt=""> 
              <span class="tag_mail" onclick="openMessage(`+data.id+`)"><i class="fa fa-envelope-o"></i> </span>
              <span class="tag"><i class="im im-icon-Hotel"></i> `+data.category_name+`</span> 
              <div class="utf_listing_prige_block utf_half_list">							
                `+priceStatment+`		
                `+featureType+`
              </div>
            </div>

            <span class="utf_open_now">Open Now</span>
            <div class="utf_listing_item_content">
              <div class="utf_listing_item-inner">
                <h3 onclick="openAdd(`+data.id+`)">`+data.name+`</h3>
                `+addressStatment+`
                `+phoneStatment+`
                <div class="utf_star_rating_section" data-rating="`+data.averageRate+`">
                  <div class="utf_counter_star_rating">(`+data.averageRate+`)</div>
                </div>
                <p>`+data.details+`</p>
              </div>
            </div>
            </a> 
          </div>
      </div>
  
  `);
}




function openMessage(id){
  window.open('/{{LANGUAGE_CODE}}/showUserMessages/'+id,'_newMessage');
}

function openAdd(id){
  window.open('/{{LANGUAGE_CODE}}/CompanyPage?id='+id, '_addNew');
}

getAdds();


  function getNextPage(){
    resultRecordsFiltered =  $('#AllRecords').html();
    if(parseInt($('#currentDraw').attr('numberOFResultView'))!=parseInt(resultRecordsFiltered)){
                  
      $('#goBackButton').removeClass('disabled');
      pageNumber = parseInt($('#currentDraw').attr('numberOFResultView'))+1;
      getPageOfResults(pageNumber)
    }
  }

  function getLastPage(){

   

    resultRecordsFiltered =  $('#AllRecords').html();
    if(parseInt($('#currentDraw').attr('numberOFResultView'))!=1){
                  
      $('#goNextButton').removeClass('disabled');
        pageNumber = $('#currentDraw').attr('numberOFResultView')-1;
        getPageOfResults(pageNumber);
      }

  }


  function getPageOfResults(pageNumber){
    
    $('#currentDraw').attr('numberOFResultView',pageNumber);
    getAdds();
  }

  function getAdds(){
    showLoader();
    // console.log($('#currentDraw').attr('numberOFResultView'));
    if(parseInt($('#currentDraw').attr('numberOFResultView'))==1){
      // console.log('StartPage');

      $('#goBackButton').removeClass('disabled');
      $('#goNextButton').removeClass('disabled');
      $('#goBackButton').addClass('disabled');
    
      
    }

    // console.log($('#currentDraw').attr('numberOFResultView'));
    
      start = ($('#currentDraw').attr('numberOFResultView')-1)*3+1;
    
      // console.log(start)
    $.ajax({
              type: 'POST',
              url: '/{{LANGUAGE_CODE}}/getNewResultsForAds',
              dataType: 'json',
              data: { 
                  'length':3,
                  'start':start,
                  'draw':$('#currentDraw').attr('numberOFResultView'),
                  'search[value]':'',
                  'category':category,
                  'city':city,
                  'region':region,
                  'categorySub':categorySub,
                  'citiesSearch':citiesSearch,
                  'regionsSearch':regionsSearch,
                  'categoriesSearch':categoriesSearch,
                  'experiensesSearch':experiensesSearch,
                  'rateMin':rateMin,
                  'rateMax':rateMax,
                  'typeOfOrder':typeOfOrder
              },
              headers:{
                  "X-CSRFToken": csrftoken
                      },
              cache: false,
              success: function(result) {
                
                hideLoader();
                $('#ListOfAdds').empty();

                if(parseInt($('#currentDraw').attr('numberOFResultView'))==parseInt(result.recordsFiltered)){
                  // console.log('StartPage');

                  $('#goBackButton').removeClass('disabled');
                  $('#goNextButton').removeClass('disabled');
                  $('#goNextButton').addClass('disabled');
                
                  
                }

                  $('#currentDraw').attr('numberOFResultView',result.draw)
                  $('#AllRecords').html(result.recordsFiltered);
                  $('#currentNumber').html(result.draw);
                    
                    result.data.forEach(element => {
                      block = getBlock(element);
                      $('#ListOfAdds').append(block);
                   

                    });
                    
                    $('.phone').hidePhoneNum();

                    starRating('.utf_star_rating_section');
                    
              },
              error: function (xhr, ajaxOptions, thrownError) {
                hideLoader();
                swal('{% trans "Error" %}', '{% trans "Problem While Loading" %}', "error");
              }
          });


      
  }

  


 
</script>

<script>








// With JQuery
$(".ex2").bootstrapSlider({});

$(".ex2").on("slide", function(slideEvt) {
rateMax=slideEvt.value[1];
rateMin=slideEvt.value[0];
if(rateMin==0){
rateMin = '';
}
});





</script>





<script>


(function($) {
                      $.fn.hidePhoneNum = function(options) {
                  
                          var settings = $.extend({
                              showNumber: 3,
                              linkClass: 'tel-link'
                          }, options);
                  
                          return this.each(function() {
                              var telNum = $(this).attr("datatel"),
                                      htmlNum = $(this).html(),
                                      myRegex = /[\s-\(\()]/g,
                                      telNewNum = telNum.replace(myRegex, '');
                  
                                      console.log(telNum);
                              $(this).html( htmlNum+ " " + telNum.substr(0, settings.showNumber));
                              
                              
                              $(this).on('click', function(e) {
                                console.log("done");
                                  e.preventDefault();
                                  if("{{userProfile.user.is_authenticated}}"=="True"){
                                  $(this).html('<span> <i class="sl sl-icon-phone"></i>'+telNum+'  </span>');
                                  }else{
                                    swal("تنبيه", "لا يمكنك القيام بذلك برجاء تسجيل الدخول", "warning");
                                  }
                              })
                  
                          });
                      };
                  }(jQuery));





</script>


{% endblock %}