{% extends "theme.html" %} 
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}




{% block "bodyOfPage" %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_dashboard.min.css' %}">
        <style>
            body {
                 background: #4f4d4d;
                font-family: 'Poppins', sans-serif;
                background-size: cover!important; 
                
    background-image: url(/static/Images/back1.jpg);
    background-size: auto;
    background-blend-mode: overlay;

            }
        </style>
 
 
            <div id="loading">
                <div id="loadingImg"></div>
              </div>
    

                        <div class="container">
                            <div class="row mt-5">
                                <div class="col-md-4 col-4"></div>
                                <div class="col-md-4 col-4"><img src="/static/Images/Logo 2.png" alt="logo" style="width: 100%;"/></div>
                                <div class="col-md-4 col-4"></div>
                                
                               
                            </div>


                            <div class="row mt-5" style=" padding: 11px; ">
                                <div class="col-md-3 col-1"></div>
                                <div class="col-md-6 col-10" style=" background: #ffffffd6;padding: 18px;border-radius: 35px;box-shadow: 0px 1px 5px 5px #c0bcbc;">
                                    <div class="login-block col-sm-12">
                                        <h1 style=" text-align: center; ">{% trans "Register new Memeber" %}</h1>
                                        <p style=" text-align: center; "> {% trans "Please Enter your details" %}</p>
                                        <form method="POST" id="mainform" class="needs-validation form-horizontal" novalidate>
                                            {% csrf_token %}
                                            <hr class="hr-xs">

                                            <div class="form-group">
                                                <label class="form-label" for="username" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "Username" %}</label>
                                                <input type="text" id="username" name="username" required=""  class="form-control mb-1 required" >
                                                <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                  {% trans "Please fill this field with not existing username" %}
                                                </div> 
                                              </div>

                                              <div class="form-group">
                                                <label class="form-label" for="first_name" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "Name" %} </label>
                                                <input type="text" id="first_name" name="first_name" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                  {% trans "Please fill this field" %}
                                                </div> 
                                              </div>



                                              <div class="form-group">
                                                <label class="form-label" for="address" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; "> {% trans "Address" %}</label>
                                                <input type="text" id="address" name="address"  class="form-control mb-1 ">
                                            </div>


                                            <div class="form-group">
                                                <label class="form-label" for="city" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "City" %} </label>
                                                <select  id="city" name="city" required=""  class="form-control mb-1 required">
                                                    <option value="">{% trans "Select one item" %}</option>
                                                    {% for item in allCities %}
                                                    <option value="{{item.id}}">{{item.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                  {% trans "Please select from this field" %}
                                                </div> 
                                              </div>


                                            <div class="form-group">
                                                <label class="form-label" for="region" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "Region" %}</label>
                                                <select  id="region" name="region" required=""  class="form-control mb-1 required">
                                                  <option value="">{% trans "Select one item" %}</option>
                                                </select>
                                              <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                {% trans "Please select from this field" %}
                                              </div> 
                                              </div>


                                             
                                            


                                              <div class="form-group">
                                                <label class="form-label" for="email" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "Mail" %}  </label>
                                                <input type="email" id="email" name="email" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                  {% trans "Please fill this field with not existing email" %}
                                                </div> 
                                              </div>


                                              <div class="form-group">
                                                <label class="form-label" for="password" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "password" %} </label>
                                                <input type="password" id="password" name="password" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                  {% trans "Please fill this field" %}
                                                </div> 
                                              </div>


                                              <div class="form-group">
                                                <label class="form-label" for="password2" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "The Password Again" %}</label>
                                                <input type="password" id="password2" name="password2" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; ">
                                                  {% trans "Please fill this field with the same password" %}
                                                </div> 
                                            </div>


                                            <div class="form-group">
                                                <label class="form-label" for="phone" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "Home Phone Number" %} </label>
                                                <input type="tel" id="phone" name="phone"  class="form-control mb-1 ">
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="phone2" style=" text-align: {% if LANGUAGE_CODE == 'en' %}left{% else %}right{% endif %}; width: 100%; ">{% trans "Your Own Phone" %}</label>
                                                <input type="tel" id="phone2" name="phone2"  class="form-control mb-1 ">
                                            </div>
                                            
                                              
                                            <div class=" row mt-3 text-center">
                                                <button type="submit"  id="RegButton" class="btn btn-block" style="background-color: #f9ae17;font-family: system-ui;font-size: 17px;font-weight: 500;color: white;text-align: center;padding: 6px;width: 79%;border-radius: 10px;box-shadow: 3px 1px 11px 2px grey;">{% trans "Login" %}  </button>
                                            </div>
                                        </form>
                                        
                                        <br>
                                        <br>
                                        
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>


                        {% endblock %}
                 
{% block "javascriptOfPage" %}
      
                  

            <script>


    
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();


    $('#city').on('change', function() {
    
      console.log($('#city').val())
      $.ajax({
                        type: 'POST',
                        url: '/en/getListOfRegionsByCityId',
                        data: { 
                            'city': $('#city').val()
                        },
                        headers:{
                            "X-CSRFToken": csrftoken
                             },
                        dataType: 'json',
                        cache: false,
                        success: function(result) {
                          $('#region')
                          .find('option')
                          .remove()
                          .end()
                          .append('<option value="">{% trans "Select One" %}</option>')
                          .val('')
                          ;

                          var $region = $('#region');
                          console.log(result);
                           if(result['Result']=='Ok'){
                    
                            result.data.forEach(element => {
                              $region.append($("<option />").val(element.id).text(element.name));
                            });
                           
                    
                           }
                        },error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError)
                               }
                    });
  });



    
$('input[name=username]').keyup(function () {
    'use strict';
        

        
$.ajax({
    type: 'POST',
    url: '/{{LANGUAGE_CODE}}/checkusername',
    data: { 
        'username': $('#username').val()
    },
    headers:{
        "X-CSRFToken": csrftoken
         },
    dataType: 'json',
    cache: false,
    success: function(result) {
        // console.log(result);
       if(result['State']=='Ok'){
           if(result['statment']=='Exists'){
            $('input[name=username]').get(0).setCustomValidity('sds');
           }else{
            $('input[name=username]').get(0).setCustomValidity('');
           }
       
       }else{

        swal('{% trans "Error" %}',  result['statment'], "error");
    
      
       }
    },error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError)
        
        swal('{% trans "Error" %}',  thrownError, "error");
    
           }
});




});




    
$('input[name=email]').keyup(function () {
    'use strict';
        

        
$.ajax({
    type: 'POST',
    url: '/{{LANGUAGE_CODE}}/checkemail',
    data: { 
        'email': $('#email').val()
    },
    headers:{
        "X-CSRFToken": csrftoken
         },
    dataType: 'json',
    cache: false,
    success: function(result) {
        // console.log(result);
       if(result['State']=='Ok'){
           if(result['statment']=='Exists'){
            $('input[name=email]').get(0).setCustomValidity('sds');
           }else{
            $('input[name=email]').get(0).setCustomValidity('');
           }
       
       }else{

        swal('{% trans "Error" %}',  result['statment'], "error");
    
      
}
},error: function (xhr, ajaxOptions, thrownError) {
 console.log(thrownError)
 
 swal('{% trans "Error" %}',  thrownError, "error");
           }
});




});





$('input[name=password2]').keyup(function () {
    'use strict';

    if ($('input[name=password]').val() === $(this).val()) {
        this.setCustomValidity('');
    } else {
        this.setCustomValidity('Passwords must match');
    }
});


var csrftoken = $("input[name='csrfmiddlewaretoken']").val();


             

 $("#formLogin").keyup(function(event) {
    if (event.keyCode === 13) {
       // Add your logic to submit to your backend server here.
                login();
           
    }
});


            </script>

  
{% endblock %}
            