<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />
        {%load static%}
   
        
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/Logo 2.png"> 

        
        

<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">

<title>خدمة</title>




    </head>


    <body>


        
<section id="company" >
        
  <div class="layer">
    <div style=" max-width: 100%; background-color: #414242 !important; ">
<div class="container p-0">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="direction:rtl">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">انواع الخدمات</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">من نحن</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/login/">دخول</a>
              </li>
              <li class="nav-item login">
                <a class="nav-link" href="#">أنضم الان</a>
              </li>
            </ul>
         </div>
        <a class="navbar-brand" href="#"><img src="/static/img/Logo 2.png" class="w-50" alt="logo"></a>
      
        </div>
        </nav>
      </div>

      </div>
      <section id="Search" style="margin-top: 57px!important;">
        <div class="container">
          <h1>ابحث عن خدماتك الان</h1>

              <div class="row search-bar" style="direction:rtl">
                  <div class="col-md-3 col-12 w-100 mt-1 p-1">
                      <div class="dropdown w-100">
                          <a class="btn btn-secondary dropdown-toggle w-100" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          الخدمات
                          </a>
                        
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">الخدمات الطبية</a></li>
                            <li><a class="dropdown-item" href="#">الخدمات التعليمية</a></li>
                            <li><a class="dropdown-item" href="#">تكنولوجيا</a></li>
                            <li><a class="dropdown-item" href="#">إنشاءات ومقاولات</a></li>
                            <li><a class="dropdown-item" href="#">صيانة منزلية</a></li>

                          </ul>
                        </div>
                  </div>
                  <div class="col-md-3 col-12 w-100 mt-1 p-1">
                    <div class="dropdown w-100">
                        <a class="btn btn-secondary dropdown-toggle w-100" href="#" type="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          مقدم الخدمة
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                          <li><a class="dropdown-item" href="#">حسن علام</a></li>
                          <li><a class="dropdown-item" href="#">الاردنية للمقاولات</a></li>
                          <li><a class="dropdown-item" href="#">مقاولات عامة وانشاءات</a></li>
                        </ul>
                      </div>
                </div>

                <div class="col-md-3 col-12 w-100 mt-1 p-1">
                  <div class="dropdown w-100">
                      <a class="btn btn-secondary dropdown-toggle w-100" href="#" type="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        المنطقة
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <li><a class="dropdown-item" href="#">حسن علام</a></li>
                        <li><a class="dropdown-item" href="#">الاردنية للمقاولات</a></li>
                        <li><a class="dropdown-item" href="#">مقاولات عامة وانشاءات</a></li>
                      </ul>
                    </div>
              </div>

                <div class="col-md-3 col-12 w-100 mt-1 p-1">
                  <div class="dropdown w-100">
                      <a class="btn btn-secondary dropdown-toggle w-100" href="#" type="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        المنطقة
                      </a>
                    
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <li><a class="dropdown-item" href="#">حسن علام</a></li>
                        <li><a class="dropdown-item" href="#">الاردنية للمقاولات</a></li>
                        <li><a class="dropdown-item" href="#">مقاولات عامة وانشاءات</a></li>
                      </ul>
                    </div>
              </div>


              <div class="col-md-3 w-100 mt-1 p-1 "></div>
              <div class="col-md-6 w-100 mt-1 p-1">
                  <a href="/SearchPage/" class="btn btn-primary btn-lg w-100">ابحث<i class="fas fa-search"></i></a>

              </div>
              <div class="col-md-3 w-100 mt-1 p-1"></div>
              
              </div>    
  

        </div>

        
    </section>

    
  </div>
  

  </section>

  
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <defs>
      <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgb(248, 174, 21);stop-opacity:1" />
        <stop offset="100%" style="stop-color:rgba(248, 172, 21, 0);stop-opacity:1" />
      </linearGradient>
    </defs>
    <path fill="url(#grad1)" fill-opacity="1" d="M0,192L34.3,176C68.6,160,137,128,206,144C274.3,160,343,224,411,218.7C480,213,549,139,617,128C685.7,117,754,171,823,176C891.4,181,960,139,1029,117.3C1097.1,96,1166,96,1234,117.3C1302.9,139,1371,181,1406,202.7L1440,224L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>




<section id="about-company" style=" direction: rtl; " >
    <div class="container">
        <div class="row  m-0">
         
          <div class="col-md-6  about-company-img about-company-text row order-1  m-0">
            <div class="company-text-title">
              <h2>{{thisAdd.name}}</h2>
            </div>

            <div class="row">
              <div class="column">
                <img src="/static/img/diverse-friends-using-digital-devices.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow w-100">
              </div>
              <div class="column">
                <img src="/static/img/635435339228902500.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow w-100">
              </div>
              <div class="column">
                <img src="/static/img/aerial-background-beverage-blog-blogger-browsing-1447929-pxhere.com.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow w-100">
              </div>
              <div class="column">
                <img src="/static/img/application-occupation-profession-job-seeker-concept.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow w-100">
              </div>
            </div>
          <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

              <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="/static/img/diverse-friends-using-digital-devices.jpg"  class="w-100 h-75">
              </div>

              <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="/static/img/635435339228902500.jpg"  class="w-100 h-75">
              </div>

              <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="/static/img/aerial-background-beverage-blog-blogger-browsing-1447929-pxhere.com.jpg"  class="w-100 h-75">
              </div>

              <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="/static/img/application-occupation-profession-job-seeker-concept.jpg" class="w-100 h-75">
              </div>

              <!-- Next/previous controls -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

              <!-- Caption text -->
              <div class="caption-container">
                <p id="caption"></p>
              </div>

              <!-- Thumbnail image controls -->
              <div class="column">
                <img class="demo w-100" src="/static/img/diverse-friends-using-digital-devices.jpg" onclick="currentSlide(1)" >
              </div>

              <div class="column">
                <img class="demo w-100" src="/static/img/635435339228902500.jpg" onclick="currentSlide(2)" >
              </div>

              <div class="column">
                <img class="demo w-100" src="/static/img/aerial-background-beverage-blog-blogger-browsing-1447929-pxhere.com.jpg" onclick="currentSlide(3)">
              </div>

              <div class="column">
                <img class="demo w-100" src="/static/img/application-occupation-profession-job-seeker-concept.jpg" onclick="currentSlide(4)">
              </div>
            </div>
          </div>


<div class="evaluate  m-auto w-100 pt-3">

  <h5>تقييم الشركة</h5>
  <div class="evaluate-clints">
  <div class="like">
    <i class="fas fa-thumbs-up"></i>
  <p>50</p>
  </div>
  
  <div class="unlike">
  <i class="fas fa-thumbs-down"></i>
  <p>3</p>
</div>
</div>
</div>

<div class="company-text-body pt-0">
  <h5>عن الشركة</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dignissimos fugiat culpa architecto dolorem quisquam. 
      Odio inventore saepe iure odit impedit!</p>
</div>
<div class="company-text-body">
  <h5>خدمات الشركة</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dignissimos fugiat culpa architecto dolorem quisquam. 
      Odio inventore saepe iure odit impedit!</p>
</div>

       


          </div>

          <div class="col-md-1 order-2"></div>
              
          <div class="col-md-5 about-company-text row order-3  m-0 mb-3" style=" background: #7c90b545; border-radius: 2%; padding: 17px; ">
            
            

              <div class="company-text-body " style=" padding: 3%; background: #716e6614; border-top-right-radius: 16px; border-top-left-radius: 16px; ">
                  <h5>اتصل بنا</h5>
                  <div class="row">
                    
                      <div class="col-sm-10 order-2">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                              Dignissimos fugiat culpa architecto dolorem quisquam.</p>
                      </div>
                      <div class="col-sm-2  order-1">
                          <i class="fas fa-map-marker-alt"></i>
                      </div>

                      <div class="col-sm-10  order-4">
                          <p>0101010101010</p>
                      </div>
                      <div class="col-sm-2  order-3">
                          <i class="fas fa-phone"></i>
                      </div>

                      <div class="col-sm-10 order-6">
                          <p>mail@gmail.com</p>
                      </div>
                      <div class="col-sm-2 mb-2 order-5">
                          <i class="fas fa-envelope"></i>
                      </div>
              </div>
                  </div>

                  <div id="form" class="w-100">
                    <div class="container">
                      <form action="action_page.php">
                    
                       
                        <label for="subject">رأيك يهمنا</label>
                        <textarea id="subject" name="subject" placeholder="اترك رسالتك.." style="height:100px"></textarea>
                    
                        <input type="submit" value="Submit">
                    
                      </form>
                    </div>
                  </div>
              </div>

</div>
        </div>
    </div>
</section>



<section id="review" >
<div class="container">
  <h2 class="pb-2">أراء العملاء</h2>
  <p class="pb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem pariatur repellendus eos quas sit, 
    excepturi labore aliquid laborum cum ducimus ab voluptas? Non, amet praesentium.</p>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>

    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>

    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>

    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>

    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>

    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>

    <div class="item">
      <i class="fas fa-quote-left"></i>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non totam error labore illo sequi?</p>

    </div>
    
</div>
</div>
</section>


        <section id="footer-contact">
            <div class="layout">
            <div class="container">
        
                <div class="row m-auto">
        
                    <div class="col-md-4">
                        <img src="/static/img/Logo 2.png"  alt="footer-logo">
        
                    </div>
        
                    <div class="col-md-4">
                        <h5 class="ml-4">Contact Info</h5>
                        <p class="ml-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, labore.
                            </p>
        
                    </div>
        
                    <div class="col-md-4 Info">
                        <h5>Our Info</h5>
                        <ul>
                            <li><a href="#">About Us </a></li>
                            <li><a href="#">Our Services </a></li>
                            <li><a href="#">Contact Us </a></li>
                        </ul>
        
                    </div>
                </div>
                </div>
            </div>
        </section>




        


 <script src="{% static 'js/jquery-3.5.1.js' %}"></script> 
 <script src="{% static 'js/popper.min.js' %}"></script> 
 <script src="{% static 'js/bootstrap.min.js' %}"></script>  
 <script src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
 <script src="{% static 'js/owl.carousel.min.js' %}"></script> 
 <script src="{% static 'js/index.js' %}"></script> 
 <script src="{% static 'js/company.js' %}"></script> 

        
        
 <script>


  $(".dropdown-item").click(function(event) {
      $(this).parents('.dropdown').find('.dropdown-toggle').html($(event.target).html());
  });
 
  </script>
    </body>

        </html>