<!DOCTYPE html>
<html dir="rtl">

    <head>
        <meta charset="utf-8">      
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta name="viewport" content="width=device-width">
            
      {%load static%}
        {% load i18n %}
        {% get_current_language as LANGUAGE_CODE %}

      
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/Logo 2.png">
      <!--Start of the imports css-->
     
         

        <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
       
     

        <title>انضم الينا  </title>
        <style>
            body {
                 background: #4f4d4d;
                font-family: 'Poppins', sans-serif;
                background-size: cover!important; 
                
    background-image: url(/static/img/back1.jpg);
    background-size: auto;
    background-blend-mode: overlay;

            }
        </style>
      <!--End of the imports css-->
      </head>



        <body >
          {% csrf_token %}
            <div id="loading">
                <div id="loadingImg"></div>
              </div>
    

                        <div class="container">
                            <div class="row mt-5">
                                <div class="col-md-4 col-4"></div>
                                <div class="col-md-4 col-4"><img src="/static/img/Logo 2.png" alt="logo" style="width: 100%;"/></div>
                                <div class="col-md-4 col-4"></div>
                                
                               
                            </div>


                            <div class="row mt-5">
                                <div class="col-md-3 col-1"></div>
                                <div class="col-md-6 col-10" style=" background: #ffffffd6;padding: 18px;border-radius: 35px;box-shadow: 0px 1px 5px 5px #c0bcbc;">
                                    <div class="login-block col-sm-12">
                                        <h1 style=" text-align: center; ">تسجيل عضو جديد</h1>
                                        <p style=" text-align: center; "> برجاء ادخل البيانات الخاصة بك</p>
                                        <form method="POST" id="mainform" class="needs-validation form-horizontal" novalidate>
                                            {% csrf_token %}
                                            <hr class="hr-xs">

                                            <div class="form-group">
                                                <label class="form-label" for="username" style=" text-align: right; width: 100%; ">اسم المستخدم</label>
                                                <input type="text" id="username" name="username" required=""  class="form-control mb-1 required" >
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field with not existing username" %}
                                                </div> 
                                              </div>

                                              <div class="form-group">
                                                <label class="form-label" for="first_name" style=" text-align: right; width: 100%; ">اسم بالكامل</label>
                                                <input type="text" id="first_name" name="first_name" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field" %}
                                                </div> 
                                              </div>



                                              <div class="form-group">
                                                <label class="form-label" for="address" style=" text-align: right; width: 100%; ">العنوان بالكامل</label>
                                                <input type="text" id="address" name="address"  class="form-control mb-1 ">
                                            </div>


                                            <div class="form-group">
                                                <label class="form-label" for="country" style=" text-align: right; width: 100%; ">اسم البلد</label>
                                                <input type="text" id="country" name="country" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field" %}
                                                </div> 
                                              </div>


                                            <div class="form-group">
                                                <label class="form-label" for="region" style=" text-align: right; width: 100%; ">المنطقة</label>
                                                <input type="text" id="region" name="region" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field" %}
                                                </div> 
                                              </div>


                                             
                                            


                                              <div class="form-group">
                                                <label class="form-label" for="email" style=" text-align: right; width: 100%; ">البريد الألكترونى </label>
                                                <input type="email" id="email" name="email" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field with not existing email" %}
                                                </div> 
                                              </div>


                                              <div class="form-group">
                                                <label class="form-label" for="password" style=" text-align: right; width: 100%; ">كلمة المرور</label>
                                                <input type="password" id="password" name="password" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field" %}
                                                </div> 
                                              </div>


                                              <div class="form-group">
                                                <label class="form-label" for="password2" style=" text-align: right; width: 100%; ">كلمة المرور اعادة</label>
                                                <input type="password" id="password2" name="password2" required=""  class="form-control mb-1 required">
                                                <div class="invalid-feedback" style=" text-align: right; ">
                                                  {% trans "Please fill this field with the same password" %}
                                                </div> 
                                            </div>


                                            <div class="form-group">
                                                <label class="form-label" for="phone" style=" text-align: right; width: 100%; ">رقم الهاتف المنزلى </label>
                                                <input type="tel" id="phone" name="phone"  class="form-control mb-1 ">
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="phone2" style=" text-align: right; width: 100%; ">رقم الهاتف الخاص بك </label>
                                                <input type="tel" id="phone2" name="phone2"  class="form-control mb-1 ">
                                            </div>
                                            
                                              
                                            <div class=" row mt-3">
                                                <button type="submit"  id="RegButton" class="btn btn-block" style="background-color: #e6aa32d9;font-family: system-ui;font-size: 17px;font-weight: 500;">تسجيل الدخول </button>
                                            </div>
                                        </form>
                                        
                                        <br>
                                        <br>
                                        
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>

                       
                  

                    <script src="{% static 'js/jquery-3.5.1.js' %}"></script> 
                    <script src="{% static 'js/popper.min.js' %}"></script> 
                    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
                    
                    <script src="{% static 'js/sweetalert.min.js' %}"></script>


                    <script src="{% static 'js/index_searchResults.js' %}"></script> 
                    <script src="{% static 'js/rating.js' %}"></script> 
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script> 

                    <script src="{% static 'js/typeahead.bundle.min.js' %}"></script> 
                    <script src="{% static 'js/bootstrap-tagsinput.min.js' %}"></script> 

                    <script src="{% static 'js/mainFunctions.js' %}"></script>
            <script>


    
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();



    
$('input[name=username]').keyup(function () {
    'use strict';
        

        
$.ajax({
    type: 'POST',
    url: '/{{LANGUAGE_CODE}}/checkusername',
    data: { 
        'username': $('#username').val()
    },
    headers:{
        "X-CSRFToken": csrftoken
         },
    dataType: 'json',
    cache: false,
    success: function(result) {
        // console.log(result);
       if(result['State']=='Ok'){
           if(result['statment']=='Exists'){
            $('input[name=username]').get(0).setCustomValidity('sds');
           }else{
            $('input[name=username]').get(0).setCustomValidity('');
           }
       
       }else{

        swal("مشكلة",  result['statment'], "error");
    
      
       }
    },error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError)
        
        swal("مشكلة",  thrownError, "error");
    
           }
});




});




    
$('input[name=email]').keyup(function () {
    'use strict';
        

        
$.ajax({
    type: 'POST',
    url: '/{{LANGUAGE_CODE}}/checkemail',
    data: { 
        'email': $('#email').val()
    },
    headers:{
        "X-CSRFToken": csrftoken
         },
    dataType: 'json',
    cache: false,
    success: function(result) {
        // console.log(result);
       if(result['State']=='Ok'){
           if(result['statment']=='Exists'){
            $('input[name=email]').get(0).setCustomValidity('sds');
           }else{
            $('input[name=email]').get(0).setCustomValidity('');
           }
       
       }else{

        swal("مشكلة",  result['statment'], "error");
    
      
}
},error: function (xhr, ajaxOptions, thrownError) {
 console.log(thrownError)
 
 swal("مشكلة",  thrownError, "error");
           }
});




});





$('input[name=password2]').keyup(function () {
    'use strict';

    if ($('input[name=password]').val() === $(this).val()) {
        this.setCustomValidity('');
    } else {
        this.setCustomValidity('Passwords must match');
    }
});


function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


             

 $("#formLogin").keyup(function(event) {
    if (event.keyCode === 13) {
       // Add your logic to submit to your backend server here.
                login();
           
    }
});


</script>
        </body>
   
</html>