<!DOCTYPE html>

{%load static%}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<html>
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />
     
   
        
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/Logo 2.png"> 



<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">



        
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond20201101.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond-plugin-image-preview.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond-plugin-image-overlay.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/filepond-plugin-get-file.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">

<title>{% trans "My Page" %}</title>


    </head>


    <body>
      {% csrf_token %}
      <div id="loading">
        <div id="loadingImg"></div>
      </div>

      
       
<section id="company" >
        
  <div class="layer">
    
<div  style="background: #232f3e;position: fixed;top: 0px;z-index: 9999;">
  <input type="hidden" id="LANGUAGE_CODE" value="{{LANGUAGE_CODE}}"/>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="direction:{% if LANGUAGE_CODE == 'ar' %} rtl {% else %} ltr {% endif %}">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/{{LANGUAGE_CODE}}">{% trans "Home" %}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">انواع الخدمات</a>
          </li> -->
          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/{{LANGUAGE_CODE}}/profile/">{% trans "Profile" %}</a>
          </li>
          {% endif %}


          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/{{LANGUAGE_CODE}}/showUserMessages/{{id_of_Admin}}">{% trans "Customer Services" %}</a>
          </li>
          {% endif %}

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/{{LANGUAGE_CODE}}/controlpanel/">{% trans "Control Panel" %}</a>
          </li>
          {% endif %}
          
         
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/{{LANGUAGE_CODE}}/accounts/login/">{% trans "Login" %}</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link" href="/{{LANGUAGE_CODE}}/loadRegPage/">{% trans "Register" %}</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/{{LANGUAGE_CODE}}/logout/">{% trans "SignOut" %}</a>
          </li>
          {% endif %}
        
        </ul>
     </div>
  
     <div class=" w-100 m-md-1 p-1  ml-md-5 mt-md-2 col-6 mr-2">
      <input type="text" class="w-100 p-3 border rounded" id="searchInputMhnaty" placeholder='{% trans "Search For Your Services" %}' style="height: 37px;font-size: 1.1rem;background: #f2f2f2;box-shadow: 2px 2px 4px 1px grey;"/>
      </div>
     
     <a class="navbar-brand" href="#"><img src="/static/img/Logo 2.png" class="w-100" alt="logo"></a>
  
    </div>
    </nav>
      </div>
    
  </div>
  

  </section>

  

    <section id="searchResults">
      
      <input type="hidden" id="idOfProfile" value="{{request.user.profile_set.last.id}}">
        <div class="container w-100">

            <div class="container-fluid light-style" style="direction: {% if LANGUAGE_CODE == 'ar' %} rtl {% else %} ltr {% endif %};">

                <h4 class="font-weight-bold py-3 mb-4" style="text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
                  {% trans "My Control Page" %}
                </h4>
            
                <div class="card overflow-hidden">
                  <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-2 pt-0">
                      <div class="list-group list-group-flush account-settings-links" style="    text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">{% trans "General Data" %}</a>
                        {% if userProfile.typeOfRegisteration == 'Normal' %}
                        <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change Password</a> -->
                        {% endif %}
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">{% trans "My Service Details" %}</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-chat-links">{% trans "MailBox" %}</a>
                        <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">{% trans "Settings" %}</a> -->
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                           
                          <div class="card-body media align-items-center">
                            {% if userProfile.image != None and userProfile.image != '' %}
                            <img src="{{userProfile.image.url}}" alt="" class="d-block ui-w-80">
                            {% endif %}

                            <div class="media-body {% if LANGUAGE_CODE == 'ar' %} mr-4 {% else %} ml-4 {% endif %}" style="text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
                              <label class="btn btn-outline-primary" for="file-input" >
                                {% trans "Select New Image" %}
                                <form  method="POST" enctype="multipart/form-data" id="formImage" class="needs-validation form-horizontal" novalidate style="display: none;">
                                  {% csrf_token %}
                                  
                                  <input type="hidden"  name="typeOfForm" value="mainImage">
                                  <input id="file-input" class="account-settings-fileinput" accept="image/x-png,image/gif,image/jpeg" type="file" name="file-input" onchange="document.getElementById('formImage').submit();" />
            
                                </form>

                              </label> &nbsp;
            
                              <div class="text-light small mt-1"> JPG, GIF or PNG. {% trans "Maximum Limit" %}</div>
                            </div>
                          </div>
                          <hr class="border-light m-0">
                          <form method="POST" id="mainform" class="needs-validation form-horizontal" novalidate>
                            {% csrf_token %}
                            <input type="hidden"  name="typeOfForm" value="mainData">
                          <div class="card-body" style="  text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
                            <div class="form-group">
                              <label class="form-label" for="username">{% trans "Username" %}</label>
                              <input type="text" id="username" name="username" required="" disabled class="form-control mb-1 required" value="{{userProfile.user.username}}">
                              <div class="invalid-feedback">
                                {% trans "Please fill this field" %}
                              </div> 
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="name">{% trans "Your name (The used one if you have a service)" %}</label>
                              <input type="text" id="name" name="name" required="" class="form-control mb-1 required"  value="{{userProfile.user.first_name}}">
                              <div class="invalid-feedback">
                                {% trans "Please fill this field" %}
                              </div> 
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="email">{% trans "Mail Address" %}</label>
                              <input type="text" id="email" name="email" required="" disabled class="form-control mb-1 required"  value="{{userProfile.user.email}}">
                              <div class="invalid-feedback">
                                {% trans "Please fill this field" %}
                              </div> 
                            </div>

                            

                            <div class="form-group">
                              <label class="form-label" for="city" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; width: 100%; ">{% trans "City Name" %}</label>
                              <select  id="city" name="city" required="" value="{{userProfile.region.cityOfRegion.id}}" class="form-control mb-1 required {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}">
                                  <option value="">{% trans "Select one item" %}</option>
                                  {% for item in allCities %}
                                  <option value="{{item.id}}">{{item.name}}</option>
                                  {% endfor %}
                              </select>
                              <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; ">
                                {% trans "Please select from this field" %}
                              </div> 
                            </div>


                          <div class="form-group">
                              <label class="form-label" for="region" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; width: 100%; ">{% trans "Region" %}</label>
                              <select  id="region" name="region" value="{{userProfile.region.id}}" required=""  class="form-control mb-1 required {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}">
                                <option value="">{% trans "Select one item" %}</option>
                              </select>
                            <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; ">
                              {% trans "Please select from this field" %}
                            </div> 
                            </div>



                            <div class="form-group">
                                <label class="form-label" for="phone">{% trans "Phone Number" %}</label>
                                <input type="tel" id="phone" name="phone" class="form-control" value="{{userProfile.phone}}">
  
                              </div>


                              <div class="form-group">
                                <label class="form-label" for="mobile">{% trans "Mobile Number" %}</label>
                                <input type="tel" id="mobile" name="mobile" class="form-control" value="{{userProfile.mobile}}">
  
                              </div>


                              <div class="form-group">
                                <label class="form-label" for="address">{% trans "Address" %} </label>
                                <input type="text" id="address" name="address" class="form-control" value="{{userProfile.address}}">
  
                              </div>
                          </div>

                          <div class="text-right mt-3 mb-3">
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>&nbsp;
                          </div>
                      
                        </form>
                        </div>



                        <div class="tab-pane fade" id="account-change-password">
                          <div class="card-body pb-2" style="    text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
            
                            <div class="form-group">
                              <label class="form-label">Current password</label>
                              <input type="password" class="form-control">
                            </div>
            
                            <div class="form-group">
                              <label class="form-label">New password</label>
                              <input type="password" class="form-control">
                            </div>
            
                            <div class="form-group">
                              <label class="form-label">Repeat new password</label>
                              <input type="password" class="form-control">
                            </div>
            
                          </div>
                        </div>
                        
                        <div class="tab-pane fade" id="account-info">


                          <div class="card-body media align-items-center">
                            {% if getMyAdd.mainImage != None and getMyAdd.mainImage != '' %}
                            <img src="{{getMyAdd.mainImage.url}}" alt="" class="d-block w-50" style=" border-radius: 19px; ">
                            {% endif %}

                            <div class="media-body {% if LANGUAGE_CODE == 'ar' %} mr-4 {% else %} ml-4 {% endif %}" style="text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
                              <label class="btn btn-outline-primary" for="file-inputAddImage" >
                                {% trans "Select New Image" %}
                                <form  method="POST" enctype="multipart/form-data" id="formAddImage" class="needs-validation form-horizontal" novalidate style="display: none;">
                                  {% csrf_token %}
                                  
                                  <input type="hidden"  name="typeOfForm" value="addMainImage">
                                  <input id="file-inputAddImage" class="account-settings-fileinput" accept="image/x-png,image/gif,image/jpeg" type="file" name="file-inputAddImage" onchange="document.getElementById('formAddImage').submit();" />
            
                                </form>

                              </label> &nbsp;
            
                              <div class="text-light small mt-1"> JPG, GIF or PNG.{% trans "Maximum Limit" %}</div>
                            </div>
                          </div>



                          <form method="POST"  class="needs-validation form-horizontal" novalidate>
                            {% csrf_token %}
                            <input type="hidden"  name="typeOfForm" value="AddData">
                          <div class="card-body pb-2" style="   text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
            
                           


                             <div class="form-group">
                              <label class="form-label" for="name">{% trans "Service Name" %}</label>
                              <input type="text" id="name" name="name" required=""  class="form-control mb-1 required" value="{{getMyAdd.name}}">
                              <div class="invalid-feedback">
                                {% trans "Please fill this field" %}
                              </div> 
                            </div>




                            <div class="form-group">
                              <!---------------------------------------------------------------------------------------------------------------------------------------->
        
                                <div class="card"> 
                                  <div class="card-header">
                                      <h4>{% trans "Additional files" %}</h4>
                                  </div>
                                  
                                  <div class="card-body bg-white p-3">
                                      <div class="form-row row ">
                                          <div class="container" style="width:100%">
                                            
                                            <input type="file"
                                            id="AllImagesOfAdd" 
                                            class="filepond"
                                            name="imagesAddFiles" 
                                            multiple 
                                            accept="image/*"
                                            data-allow-reorder="true"
                                            data-max-file-size="3MB"
                                            data-max-files="20">
        
                                          </div>
                                        </div>
        
                                  </div>
        
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------------------------------->
        
                            </div>

                            <div class="form-group">
                              <input type="hidden" value="{{allTagsDelemited}}" name="experienses" id="experienses"/>
                              <label class="form-label">{% trans "My Experienses" %}</label>
                              <div class="panel " style="padding-top: 10px;padding-bottom: 10px;">
                                <div class="bs-example w-100 " style="max-height: 150px; direction:{% if LANGUAGE_CODE == 'ar' %} rtl {% else %} ltr {% endif %};">
                                  <input type="text" class="ServiceTag" data-role="tagsinput" />
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="form-label">{% trans "About US" %}</label>
                              <textarea class="form-control {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}" name="aboutMe" rows="5">{{userProfile.aboutMe}}</textarea>
                            </div>



                            <div class="form-group">
                              <label class="form-label">{% trans "Service Details" %}</label>
                              <textarea class="form-control {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}" name="details" rows="5">{{getMyAdd.details}}</textarea>
                            </div>



                            <div class="form-group">
                              <label class="form-label" for="mainCategory" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; width: 100%; ">{% trans "Main Category" %}</label>
                              <select  id="mainCategory" name="mainCategory" required="" value="{{parentCategory.id}}" class="form-control mb-1 required {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}">
                                  <option value="">{% trans "Select one item" %}</option>
                                  {% for item in allparentCategory %}
                                  <option value="{{item.id}}">{{item.name}}</option>
                                  {% endfor %}
                              </select>
                              <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; ">
                                {% trans "Please select from this field" %}
                              </div> 
                            </div>


                          <div class="form-group">
                              <label class="form-label" for="category" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; width: 100%; ">{% trans "branch category" %}</label>
                              <select  id="category" name="category" value="{{getMyAdd.category.id}}" required=""  class="form-control mb-1 required {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}">
                                <option value="">{% trans "Select one item" %}</option>
                              </select>
                            <div class="invalid-feedback" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %}; ">
                              {% trans "Please select from this field" %}
                            </div> 
                            </div>



                            <div class="form-group">
                              <label class="form-label" for="video">{% trans "Video About the Service" %}</label>
                              <input type="text" id="video" name="video"   class="form-control mb-1 " value="{{getMyAdd.videoUrl}}">
                              <div class="invalid-feedback">
                                {% trans "Please fill this field" %}
                              </div> 
                            </div>

                            <div class="text-right mt-3 mb-3">
                              <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>&nbsp;
                            </div>
                            
            
            
                          </div>

                        </form>

                        </div>





                        <!-- ---chat--- -->
                        <div class="tab-pane fade" id="account-chat-links">
                          <div class="card-body pb-2" style=" text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};">
                            
                            <div class="row">
                              <div class="col-md-4 col-xl-4 chat">
                                <div class="card" >
                                    <div class="card-header msg_head w-100">
                                        <div class="d-flex bd-highlight" >
                                        
                                            <div class="user_info w-100" >
                                                <button id="theadd" value="{{theAddObj.id}}" class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                  {{theAddObj.name}}- {{theAddObj.category.name}}
                                                </button>
                                                <div class="collapse" id="collapseExample">
                                                  <div class="card card-body" style=" height: 369px; overflow-y: auto; ">
                                                      {%for profile in profilesOfTheAdd %}
                                                         <a href="javascript:void(0)"  id="{{profile.id}}" value="{{profile.id}}" class="profile"   > {{profile.user.first_name}} </a>
                                                      {%endfor%}
                                                  </div>
                                                </div>
                                            
                                            </div>
                            
                                        </div>
                                        
                                    </div>
                                 
                                
                                    </div>
                                </div>
                            

                            <div class="col-md-8 col-xl-8 chat">
                              <div class="card">
                                  <div class="card-header msg_head">
                                      <div class="d-flex bd-highlight">
                                          <div class="img_cont">
                                              <img width="50" height="50" id="imageOfCurrentChat" style="display: none;" src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                              <span class="online_icon"></span>
                                          </div>
                                          <div class="user_info">
                                              <span id="nameOfCurrentChat">messages </span>
                                              <p id="numberOfCurrentChat"></p>
                                          </div>
                                       
                                          </div> 
                                      </div>
                                  </div>
                                  <div class="card-body msg_card_body" id="append-messages">
                                   
                                  </div>
                                  <div  class="card-footer mb-4" id="messageControl" style="display: none;">
                                      <div class="input-group">
                                   
                                   
        
                                        <textarea style="width: 100%;height: 34px;" id="message-text" class="mb-2 {% if LANGUAGE_CODE == 'ar' %} text-right {% else %} text-left {% endif %}" name ="input_message"></textarea>
                                              <button class="btn btn-primary btn-lg" style="width: 100%;" type="submit" id="sendMessage" >Send</button>
                                         
                                      </div>
                       
                      
                      </div>
                    </div>
                  </div>
                </div>
            
             
              </div>
            

        </div>
    </section>


    <section id="footer-contact">




      <footer class="new_footer_area bg_color">
        <div class="new_footer_top">
            <div class="container w-95 " style="direction:{% if LANGUAGE_CODE == 'ar' %} ltr {% else %} rtl {% endif %}">
                <div class="row text-center text-md-left">
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            
                              <img src="/static/img/Logo 2.png" alt="footer-logo">
                
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                          <h3 class="f-title f_600 t_color f_size_18">{% trans "Our Info" %}</h3>
                          <ul class="list-unstyled f_list">
                              <li><a href="#">{% trans "Home" %} </a></li>
                              <li><a href="#">{% trans "All Services" %} </a></li>
                          </ul>  
                          
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 mt-5 mt-md-0">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">{% trans "Contact Info" %}</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">{% trans "Address" %}</a></li>
                                <li><a href="#">Term &amp; conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 mt-5 mt-md-0">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                            <div class="f_social_icon">
                                <a href="#" class="fab fa-facebook"></a>
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-linkedin"></a>
                                <a href="#" class="fab fa-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer_bottom" style="direction:{% if LANGUAGE_CODE == 'ar' %} rtl {% else %} ltr {% endif %}">
            <div class="container">
                <div class="row align-items-center p-1">
                  <div class="col-md-3 text-center text-md-left mt-1">
    
                    <div class="dropdown" style=" height: 27px; ">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" style=" height: 100%; vertical-align: middle; color: white; padding: 0px; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        
    
                                    
    
                          {% if LANGUAGE_CODE == 'en' %}
                          English
                          {% endif %}
    
                          
    
                          {% if LANGUAGE_CODE == 'ar' %}
                          عربى
                          {% endif %}
    
    
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"  style="padding: 1px 0px;width: fit-content;background: #232f3e;">
                        <li class="aOfFooterLi"  onclick="addReplaceLangCode('en')" {% if LANGUAGE_CODE == 'en' %} style=" background: orange; " {% endif %}><a href="javascript:void(0)" class="aOfFooter">English</a></li>
                        
                        <li role="separator" class="divider"></li>
                        <li class="aOfFooterLi"  onclick="addReplaceLangCode('ar')" {% if LANGUAGE_CODE == 'ar' %} style=" background: orange; " {% endif %}><a href="javascript:void(0)"  class="aOfFooter">عربى</a></li>
                      </ul>
                    </div>
                    
                  </div>
                  <div class="col-lg-5 col-sm-12 text-center text-md-left mt-1">
                      <p class="mb-0 f_400">© Mhnaty Inc.. 2021 All rights reserved.</p>
                  </div>
                  <div class="col-lg-4 col-sm-12 text-center {% if LANGUAGE_CODE == 'ar' %} text-md-left {% else %} text-md-right {% endif %} mt-1">
                      <p class="mb-0 f_400">Made By <i class="icon_heart"></i> in <a href="#">Orspra</a></p>
                  </div>
    
                </div>
            </div>
        </div>
      </footer>
    
    
    
    </section>
    


    <script src="{% static 'js/jquery-3.5.1.js' %}"></script> 
    <script src="{% static 'js/jquery-ui.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    
    <script src="{% static 'js/sweetalert.min.js' %}"></script>


    <script src="{% static 'js/index_searchResults.js' %}"></script> 
    <script src="{% static 'js/rating.js' %}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script> 

    <script src="{% static 'js/typeahead.bundle.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap-tagsinput.min.js' %}"></script> 

    <script src="{% static 'js/mainFunctions.js' %}"></script>

    
    <script src="{% static 'js/typeahead.bundle.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap-tagsinput.min.js' %}"></script> 

    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="{% static 'js/filepond-plugin-get-file.js' %}"></script>
    <script src="{% static 'js/filepond-plugin-image-preview.js' %}"></script> 
    <script src="{% static 'js/filepond.js' %}"></script>


<script>
    
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();



    
    var idOfToUserProfile = ''






    
$('#message-text').bind("enterKey",function(e){
   //do stuff here
   console.log("Ahmed");
   sendMessage();
});
$('#message-text').keyup(function(e){
    if(e.keyCode == 13)
    {
        $(this).trigger("enterKey");
    }
});


$('#sendMessage').on('click', function(e){
     sendMessage();

    });




    function sendMessage(){
      
 
      var messageContent = $("#message-text").val();
      var theaddId =  $("#theadd").attr('value')
      var fromProfileId  = $('#idOfProfile').val()

      $.ajax({ 
        type: 'POST',
        url: '/ar/sendMessage',
        data: { 
            'messageContent': messageContent,
            'theaddId':theaddId,
            'fromProfileId':fromProfileId,
            'idOfToUserProfile':idOfToUserProfile,

          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(data) {

        messageData = data['messagesData']
        var profileId  = $('#idOfProfile').val()


            // if (messageData.from_user__id == profileId){
              $.each(messageData, function(index, value){
                date = value.created
                formatedDate=date.replace("T", " ").split('.')[0];
                console.log(formatedDate,"date")
            
                
                $('#append-messages').append(
              `<div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img width="50" height="50" src="`+value.from_user_image+`" class="rounded-circle user_img_msg"/>
                </div>
              <div class="msg_cotainer"> `+value.message+`<br>
                <span class="msg_time_send">`+formatedDate+`</span>
                </div>
              </div>`);
            

              })

          


              objDiv = document.getElementById("append-messages");
              objDiv.scrollTop = objDiv.scrollHeight;
                  

              $('#message-text').val('');

          }
    
        })
     


    }

    idOfProfileOfTheAdd = null;


    $('.profile').on('click', function(e) {
          e.preventDefault()
          console.log("clicked")
          idOfFromUserProfile = $(this).attr('id')
          idOfToUserProfile = idOfFromUserProfile
          idOfProfileOfTheAdd = $("#theadd").attr('value')
          console.log(idOfFromUserProfile,"//",idOfProfileOfTheAdd)
         

          updateMessages(true);
    });
  

    

  var intervalId = window.setInterval(function(){
  /// call your function here
  if(idOfProfileOfTheAdd!=null){
      updateMessages(false);
    }
}, 2000);
    



    function updateMessages(stateDrop){
      $.ajax({ 
        type: 'POST',
        url: '/ar/getProfileMessages',
        data: { 
            'idOfFromUserProfile': idOfFromUserProfile,
            'idOfProfileOfTheAdd':idOfProfileOfTheAdd,

          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(data) {
          
          $('#imageOfCurrentChat').attr('src',data['imageOfCurrentChat']);
          $('#imageOfCurrentChat').css("display", "block")
          $('#messageControl').css("display", "block")
          
          $('#nameOfCurrentChat').html("Messages From "+data['nameOfCurrentChat']);
          
          $('#numberOfCurrentChat').html(data['numberOfCurrentChat']+" Message");
            var messages = data['messagesData']
            // var profileId = "{{request.user.getUserLastProfile}}"
            var profileId  = $('#idOfProfile').val()

            $('#append-messages').empty()
            $.each(messages, function(index, value){
              console.log(value)
            var date = value.created
            formatedDate=date.replace("T", " ").split('.')[0];

            if ((value.from_user__id).toString() == (profileId).toString()){
            $('#append-messages').append(
              `<div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img width="50" height="50" src="`+value.from_user_image+`" class="rounded-circle user_img_msg"/>
                </div>
              <div class="msg_cotainer"> `+value.message+`<br>
                <span class="msg_time_send">`+formatedDate+`</span>
                </div>
              </div>`)
            
          }
          else {
            $('#append-messages').append(
              `<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">`+value.message+`
                <br><span" class="msg_time_send">`+formatedDate+`</span>
                </div>
                <div class="img_cont_msg">
                  <img width="50" height="50" src="`+value.from_user_image+`" class="rounded-circle user_img_msg">
                </div>
              </div>`)
          }
        
        });
            


        
if(stateDrop){
  
  objDiv = document.getElementById("append-messages");
          objDiv.scrollTop = objDiv.scrollHeight;
}

                  

          }
    
        })
     

    }


    function fill_categoryAndSelect(isfirstTime){
  showLoader();
  $.ajax({ 
        type: 'POST',
        url: '/en/getListOfcategoriesByparentOneId',
                      data: { 
                          'mainCategory': $('#mainCategory').val()
          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(result) {
            
            
          $('#category')
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="">{% trans "Select One" %}</option>')
                        .val('')
                        ;

                        var $category = $('#category');

                         if(result['Result']=='Ok'){
                  
                          result.data.forEach(element => {
                            $category.append($("<option />").val(element.id).text(element.name));
                          });
                         
                  
                         }

            if(isfirstTime){
              $('#category').val($('#category').attr('value'));
            }
            hideLoader();
        },error: function (xhr, ajaxOptions, thrownError) {
            hideLoader();
           }
    });

    hideLoader();
}


$('#mainCategory').on('change', function() {
    
  fill_categoryAndSelect(false);
  });

  $('#mainCategory').val($('#mainCategory').attr('value'));
  fill_categoryAndSelect(true);


    function fill_regionAndSelect(isfirstTime){
  showLoader();
  $.ajax({ 
        type: 'POST',
        url: '/en/getListOfRegionsByCityId',
                      data: { 
                          'city': $('#city').val()
          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(result) {
            
            
          $('#region')
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="">{% trans "Select One" %}</option>')
                        .val('')
                        ;

                        var $region = $('#region');
                        console.log(result);
                         if(result['Result']=='Ok'){
                  
                          result.data.forEach(element => {
                            $region.append($("<option />").val(element.id).text(element.name));
                          });
                         
                  
                         }

            if(isfirstTime){
              $('#region').val($('#region').attr('value'));
            }
            hideLoader();
        },error: function (xhr, ajaxOptions, thrownError) {
            hideLoader();
           }
    });

    hideLoader();
}



$('#city').on('change', function() {
    
    fill_regionAndSelect(false);
  });

  $('#city').val($('#city').attr('value'));
  fill_regionAndSelect(true);

</script>


<script>


var serviceTag = $('.ServiceTag');

var ServiceData = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // prefetch: '/getAllCategoriesJson.json?query=Null',
  remote: {
    url: '/getAllTagsJson?query=%QUERY',
    wildcard: '%QUERY'
  }
});
ServiceData.initialize();

serviceTag.tagsinput({
  
  itemValue: 'value',
  itemText: 'text',
  typeaheadjs: {
    name: 'ServiceData',
    displayKey: 'text',
    source: ServiceData
  }
});



data = $('#experienses').attr('value').split(",")
{% for item in allTags %}
serviceTag.tagsinput('add', { "value": '{{item.name}}' , "text": "{{item.name}}"  , "continent": "{{item.name}}"   });
{% endfor %}
serviceTag.on('itemAdded', function(event) {
  // event.item: contains the item
  data.push((event.item.value).toString());

  $('#experienses').attr('value',data);
  $('#experienses').val(data);
});


serviceTag.on('itemAddedOnInit', function(event) {
  // event.item: contains the item
  // event.item: contains the item
  console.log("Ahmed");
  data.push((event.item.value).toString());
  // console.log(event)
  // console.log(event.item.value)
  $('#experienses').attr('value',data);
  $('#experienses').val(data);
});

serviceTag.on('beforeItemRemove', function(event) {
  // event.item: contains the item
  // event.cancel: set to true to prevent the item getting removed
  data.splice(data.indexOf((event.item.value).toString()), 1); 
  $('#experienses').attr('value',data);
  $('#experienses').val(data);
});

{% for item in tags %}

//serviceTag.tagsinput('add', { "value": "{{item.name}}" , "text": "{{item.name}}"  , "continent": "{{item.name}}"   });

{% endfor %}
FilePond.registerPlugin(FilePondPluginImagePreview,FilePondPluginGetFile,FilePondPluginFileValidateType);
        const inputElement = document.querySelector('#AllImagesOfAdd');
        const pond = FilePond.create( inputElement );
        
        file = [
        {% for item in allFiles %}        
            {source: "{{item.file}}",
              options: {
                type: "local",
                }
            },
        {% endfor %}
        ];
        
        FilePond.setOptions({
            
            
            server: {
                url: '/{{LANGUAGE_CODE}}/uploadFiles_ForAdd',
                
                process: {
                    headers:{
                        "X-CSRFToken": csrftoken
                            }
                },
                revert:{
                    headers:{
                        "X-CSRFToken": csrftoken
                            }
                },
                withCredentials: false,
                onload: (response) => response.key,
                onerror: (response) => response.data,
                load:'?load='
            },
            files:file,
            acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
        });






</script>
</body>

    </html>