{% extends "theme.html" %} 
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}




{% block "title" %}{% trans "MailBox" %}{% endblock %}

{% block "bodyOfPage" %}

<style>
  .utf_dashboard_content {
    padding: 25px;
    padding-bottom: 0;
    position: relative;
    z-index: 10;
    height: 100%;
    margin-left: 0px;
}
</style>
<input type="hidden" id="idOfProfile" value="{{request.user.profile_set.last.id}}">

  

      
<div class="utf_dashboard_content">
      <div class="row">
        <div class="col-lg-12 col-md-12">

            <div class="utf_dashboard_list_box margin-top-0">

              <h4 class="gray"><i class="sl sl-icon-user"></i>  {% trans "Messages" %} {{theaddObj.name}} {{messages.count}} {% trans "Messages" %}</h4>

            
            
                           
   
                                   
                                            <div class="utf_messages_block_inner">




                                              <div class="utf_message_content_part" >
                                                <div id="append-messages">

                                                </div>

                                              
                                                <div class="clearfix"></div>
                                                <div class="utf_message_reply_block" id="messageControl" style="display: none;">
                                                  {% csrf_token %}
                                                  <textarea style="width: 100%;height: 34px; text-align: {% if LANGUAGE_CODE == 'ar' %} right {% else %} left {% endif %};" id="message-text" class="mb-2" name ="input_message"></textarea>
                                                  <button class="btn btn-primary btn-block button" {%if not allowSend %}disabled{% endif %} type="button" id="sendMessage">{% trans "Send" %}</button>

                                                </div>
                                              </div>
                                              

                                              
                                               
                                                </div>
                                           
                                    </div>
                     

        </div>                      
      </div>
</div>




{% endblock %}




{% block "javascriptOfPage" %}


<script>
    	$(document).ready(function(){
$('#action_menu_btn').click(function(){
	$('.action_menu').toggle();
});
	});






function loadAllMessages(stateDrop){
  idOfFromUserProfile = '{{userProfile.id}}'
          idOfToUserProfile = idOfFromUserProfile
          idOfProfileOfTheAdd = '{{theaddObj.id}}'
          console.log(idOfFromUserProfile,"//",idOfProfileOfTheAdd)
          $.ajax({ 
        type: 'POST',
        url: '/ar/getProfileMessages',
        data: { 
            'idOfFromUserProfile': idOfFromUserProfile,
            'idOfProfileOfTheAdd':idOfProfileOfTheAdd,

          },
        headers:{
            "X-CSRFToken": csrftoken
                },
        async: true,
        cache: true,
        success: function(data) {
          
          $('#imageOfCurrentChat').attr('src',data['imageOfCurrentChat']);
          $('#imageOfCurrentChat').css("display", "block")
          
          $('#nameOfCurrentChat').html("Messages From "+data['nameOfCurrentChat']);
          
          $('#numberOfCurrentChat').html(data['numberOfCurrentChat']+" Message");
            var messages = data['messagesData']
            // var profileId = "{{request.user.getUserLastProfile}}"
            var profileId  = $('#idOfProfile').val()

            $('#append-messages').empty()
          $('#messageControl').css("display", "block")
            $.each(messages, function(index, value){
            var date = value.created
            formatedDate=date.replace("T", " ").split('.')[0];

            if ((value.from_user__id).toString() == (profileId).toString()){
            $('#append-messages').append(


              `
              <div class="utf_message_content_item send_user">
                <div class="utf_message_user"><img src="`+value.from_user_image+`" alt="user_message"></div>
                <div class="utf_message_text" style="{% if LANGUAGE_CODE == 'ar' %} text-align: start; {% else %} text-align: end; {% endif %}">
               <p>`+value.message+`</p><br>
                  <span class="msg_time_send">`+formatedDate+`</span>
                </div>
              </div>

              `)
            
          }
          else {
            $('#append-messages').append(

              `
              <div class="utf_message_content_item">
                <div class="utf_message_user"><img src="`+value.from_user_image+`" alt="user_avatar"></div>
                <div class="utf_message_text" style="{% if LANGUAGE_CODE == 'ar' %} text-align: end; {% else %} text-align: start; {% endif %}">
            <p>`+value.message+`</p>
                <br><span" class="msg_time_send">`+formatedDate+`</span>
                </div>
              </div>

              
              `)
          }
        
        });
            
          


          
        
if(stateDrop){
  
  objDiv = document.getElementById("append-messages");
          objDiv.scrollTop = objDiv.scrollHeight;
}

          }
    
        })
     

}
  



  objDiv = document.getElementById("append-messages");
  objDiv.scrollTop = objDiv.scrollHeight;



  var intervalId = window.setInterval(function(){
  /// call your function here
  loadAllMessages(true);
}, 2000);


{% if allowSend %}

$('#message-text').bind("enterKey",function(e){
   //do stuff here
   console.log("Ahmed");
   sendMessage();
});
$('#message-text').keyup(function(e){
    if(e.keyCode == 13)
    {
        $(this).trigger("enterKey");
    }
});


$('#sendMessage').on('click', function(e){
     sendMessage();

    });

{% endif %}

    function sendMessage(){

 

 var messageContent = $("#message-text").val();
 var theaddId =  '{{theaddObj.id}}';
 var fromProfileId  = $('#idOfProfile').val()

 $.ajax({ 
   type: 'POST',
   url: '/ar/sendMessageToTheAdd',
   data: { 
       'messageContent': messageContent,
       'theaddId':theaddId,
       'fromProfileId':fromProfileId,
       'idOfToUserProfile':'{{userProfile.id}}',

     },
   headers:{
       "X-CSRFToken": csrftoken
           },
   async: true,
   cache: true,
   success: function(data) {

   messageData = data['messagesData']
   var profileId  = $('#idOfProfile').val()


       // if (messageData.from_user__id == profileId){
         $.each(messageData, function(index, value){
           date = value.created
           formatedDate=date.replace("T", " ").split('.')[0];
           console.log(formatedDate,"date")
       
           
           $('#append-messages').append(
         `
         
         <div class="utf_message_content_item send_user">
          <div class="utf_message_user"><img src="`+value.from_user_image+`" alt="user_message"></div>
          <div class="utf_message_text" style="{% if LANGUAGE_CODE == 'ar' %} text-align: start; {% else %} text-align: end; {% endif %}">
            <p>`+value.message+`</p><br>
           <span class="msg_time_send">`+formatedDate+`</span>
          </div>
        </div>
        `);
       

         })

     


         objDiv = document.getElementById("append-messages");
         objDiv.scrollTop = objDiv.scrollHeight;
             

         $('#message-text').val('');

     }

   })





    }

  

  
    loadAllMessages(true);
</script>



{% endblock %}