{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" {% if LANGUAGE_CODE == 'ar' %}dir="rtl"{% endif %}>
<head>
<meta name="author" content="">
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="google-signin-scope" content="profile email">
        
<meta name="google-signin-client_id" content="204450024885-4s8o46icvli7m58qfm2jbfs6ksf8b75q.apps.googleusercontent.com">


<title>{% block "title" %}{% trans "Home" %}{% endblock %}</title>

<!-- Favicon -->
<link rel="shortcut icon" href="/static/images/favicon.png">

<!-- Style CSS -->
{% if LANGUAGE_CODE == 'ar' %} 
<link rel="stylesheet"  href="{% static 'rtl/css/stylesheet.css' %}">
<link rel="stylesheet"  href="{% static 'rtl/css/mmenu.css' %}">
<link rel="stylesheet"  href="{% static 'rtl/css/style.css' %}"  id="colors">
<link rel="stylesheet"  href="{% static 'rtl/css/stylesheet_rtl.css' %}">
{% else %}
<link rel="stylesheet"  href="{% static 'ltr/css/stylesheet.css' %}">
<link rel="stylesheet"  href="{% static 'ltr/css/mmenu.css' %}">
<link rel="stylesheet"  href="{% static 'ltr/css/style.css' %}"  id="colors">
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
</head>
<body class="header-one">
  {% csrf_token %}
  <div id="loading">
    <div id="loadingImg"></div>
  </div>

<!-- Wrapper -->
<div id="main_wrapper">
  <header id="header_part"> 
    <div id="header">
      <div class="container"> 
        <div class="utf_left_side"> 
          <div id="logo"> <a href="/{{LANGUAGE_CODE}}/"><img src="/static/images/Logo.png" alt=""></a> </div>
          <div class="mmenu-trigger">
			<button class="hamburger utfbutton_collapse" type="button">
				<span class="utf_inner_button_box">
					<span class="utf_inner_section"></span>
				</span>
			</button>
		  </div>
          <nav id="navigation" class="style_one">
            <ul id="responsive">
              <li><a id="home_navigation" href="/{{LANGUAGE_CODE}}">{% trans "Home" %}</a>
              </li>	
              
              
              {% if LANGUAGE_CODE == 'ar' %}
              <li><a class="current" onclick="addReplaceLangCode('en')" href="javascript:void(0)">English</a>
              </li>	
              {% endif %}

              

              {% if LANGUAGE_CODE == 'en' %}
              
              <li><a class="current" onclick="addReplaceLangCode('ar')" href="javascript:void(0)">عربى</a>
              </li>	
              {% endif %}

              {% if user.is_authenticated %}
              <li>
                <a id="profile_nav" href="/{{LANGUAGE_CODE}}/profile/">{% trans "Profile" %}</a>
              </li>
              {% endif %}
    
    
              {% if user.is_authenticated %}
              <li>
                <a id="customerServices_navigation" href="/{{LANGUAGE_CODE}}/showUserMessages/{{id_of_Admin}}">{% trans "Customer Services" %}</a>
              </li>
              {% endif %}
    
              {% if user.is_superuser %}
              <li>
                <a id="controlPanel_navigation" href="/{{LANGUAGE_CODE}}/controlpanelMain/">{% trans "Control Panel" %}</a>
              </li>
              {% endif %}
              <li>
                <a id="terms_navigation" href="/{{LANGUAGE_CODE}}/TermsAndConditions/">{% trans "Terms&Conditions" %}</a>
              </li>

              <li>
                <a id="about_navigation" href="/{{LANGUAGE_CODE}}/AboutUs/">{% trans "About Us" %}</a>
              </li>


            </ul>
          </nav>
          <div class="clearfix"></div>
        </div>
        <div class="utf_right_side">
          <div class="header_widget"> 
            {% if not user.is_authenticated %}
              <a href="#dialog_signin_part" class="button border sign-in popup-with-zoom-anim">
                  <i class="fa fa-sign-in"></i> {% trans "Login" %}</a>

              <a href="/{{LANGUAGE_CODE}}/loadRegPage/" class="button border with-icon">
              <i class="sl sl-icon-user"></i>{% trans "Register" %}</a>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="/{{LANGUAGE_CODE}}/logout/" class="button border with-icon">
                <i class="fa fa-sign-out"></i> {% trans "SignOut" %}</a>
            {% endif %}

          </div>
        </div>
        
        <div id="dialog_signin_part" class="zoom-anim-dialog mfp-hide">
          <div class="small_dialog_header">
            <h3>Sign In</h3>
          </div>
          <div class="utf_signin_form style_one">
            <!-- <ul class="utf_tabs_nav">
              <li class=""><a href="#tab1">{% trans "Login" %}</a></li>
              <li><a href="#tab2">Register</a></li>
            </ul> -->
            <div class="tab_container alt"> 
              <div class="tab_content" id="tab1" style="display:none;">
                <form  id="formLogin" class="login">
                    {% csrf_token %}
				  <a href="javascript:void(0);"  id="facebook" onclick="fb_login();" class="social_bt facebook_btn">Login with Facebook <i class="fa fa-facebook"></i></a>
				  <a href="javascript:void(0);"  id="google"  class="social_bt google_btn">Login with Google <i class="fa fa-google-plus"></i></a>
                  <p class="utf_row_form utf_form_wide_block">
                    <label for="username">
                      <input type="text" value="" placeholder='{% trans "Please Enter the user name" %}'  class="input-text" name="username" id="username" value=""  />
                    </label>
                  </p>
                  <p class="utf_row_form utf_form_wide_block">
                    <label for="password">
                      <input class="input-text" value="" placeholder='{% trans "Secret Number " %}' type="password" name="password" id="password" placeholder="Password"/>
                    </label>
                  </p>
                  <div class="utf_row_form utf_form_wide_block form_forgot_part"> <span class="lost_password fl_left"> <a href="/{{LANGUAGE_CODE}}/forgetPassword">{%trans "Forgot Password"%}</a> </span>
                    <!-- <div class="checkboxes fl_right">
                      <input id="remember-me" type="checkbox" name="check">
                      <label for="remember-me">Remember Me</label>
                    </div> -->
                  </div>
                  <div class="utf_row_form">
                    <a  id="loginButton" href="javascript:void(0)" class="button border margin-top-5 text-center"  >{% trans "Login" %}</a>
                  </div>
                </form>
              </div>
              
              <div class="tab_content" id="tab2" style="display:none;">
                <form method="post" class="register">
                  <p class="utf_row_form utf_form_wide_block">
                    <label for="username2">
                      <input type="text" class="input-text" name="username" id="username2" value="" placeholder="Username" />
                    </label>
                  </p>
                  <p class="utf_row_form utf_form_wide_block">
                    <label for="email2">
                      <input type="text" class="input-text" name="email" id="email2" value="" placeholder="Email" />
                    </label>
                  </p>
                  <p class="utf_row_form utf_form_wide_block">
                    <label for="password1">
                      <input class="input-text" type="password" name="password1" id="password1" placeholder="Password" />
                    </label>
                  </p>
                  <p class="utf_row_form utf_form_wide_block">
                    <label for="password2">
                      <input class="input-text" type="password" name="password2" id="password2" placeholder="Confirm Password" />
                    </label>
                  </p>
                  <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  

  {% block "bodyOfPage" %}
 

  {% endblock %}
  <!-- Footer -->
  
  <div id="footer" class="footer_sticky_part"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              
                <img src="/static/images/Logo 2.png" alt="footer-logo" style=" margin-top: -82px; width: 234px; ">
  
          </div>
      </div>
      
        <div class="col-lg-3 col-md-6 col-6">
          <h4>{% trans "Our Info" %}</h4>
          <ul class="social_footer_link">
            <li><a href="/{{LANGUAGE_CODE}}/">{% trans "Home" %}</a></li>
            <li><a href="/{{LANGUAGE_CODE}}/SearchPage/?category=&city=&region=">{% trans "All Services" %}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <h4>{% trans "More Info" %}</h4>
          <ul class="social_footer_link">
            <li><a href="/{{LANGUAGE_CODE}}/AboutUs">{% trans "About Us" %}</a></li>
            <li><a href="/{{LANGUAGE_CODE}}/TermsAndConditions">{% trans "Terms&Conditions" %}</a></li>
          </ul>
        </div>
      

        <div class="col-lg-3 col-md-6 col-6">
          <h4>{% trans "Contact Info" %}</h4>
            
              <ul class="utf_social_icon rounded" style="padding-left: 64px;max-width: 100%;margin-right: -25px;">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>            
              </ul>
      </div>

    

      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="footer_copyright_part">
            <div class="footer_bottom" style="direction:ltr">
                <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-3 text-center text-md-left">
        
                        
                      </div>
                      <div class="col-lg-5 col-sm-12 text-center text-md-left">
                          <p class="mb-0 f_400">© Mhnaty Inc.. 2021 All rights reserved.</p>
                      </div>
                      <div class="col-lg-4 col-sm-12 text-center {% if LANGUAGE_CODE == 'ar' %} text-md-left {% else %} text-md-right {% endif %} mt-1">
                          <p class="mb-0 f_400">Made By <i class="icon_heart"></i> in <a href="domainjo.com">DomainCom Web Solutions..</a></p>
                      </div>
        
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom_backto_top"><a href="#"></a></div>
</div>

<!-- Scripts --> 
{% if LANGUAGE_CODE == 'ar' %} 

<script src="{% static 'js/jquery-3.5.1.js' %}"></script> 
<script src="{% static 'rtl/scripts/chosen.min.js' %}"></script> 
<script src="{% static 'rtl/scripts/slick.min.js' %}"></script> 
<script src="{% static 'rtl/scripts/rangeslider.min.js' %}"></script> 
<script src="{% static 'rtl/scripts/magnific-popup.min.js' %}"></script> 
<script src="{% static 'rtl/scripts/jquery-ui.min.js' %}"></script> 
<script src="{% static 'rtl/scripts/bootstrap-select.min.js' %}"></script>
<script src="{% static 'rtl/scripts/mmenu.js' %}"></script>
<script src="{% static 'rtl/scripts/tooltips.min.js' %}"></script> 
<script src="{% static 'rtl/scripts/color_switcher.js' %}"></script>
<script src="{% static 'rtl/scripts/jquery_custom.js' %}"></script>
<script src="{% static 'rtl/scripts/typed.js' %}"></script>
{% else %}
<script src="{% static 'js/jquery-3.5.1.js' %}"></script> 
<script src="{% static 'ltr/scripts/chosen.min.js' %}"></script> 
<script src="{% static 'ltr/scripts/slick.min.js' %}"></script> 
<script src="{% static 'ltr/scripts/rangeslider.min.js' %}"></script> 
<script src="{% static 'ltr/scripts/magnific-popup.min.js' %}"></script> 
<script src="{% static 'ltr/scripts/jquery-ui.min.js' %}"></script> 
<script src="{% static 'ltr/scripts/bootstrap-select.min.js' %}"></script>
<script src="{% static 'ltr/scripts/mmenu.js' %}"></script>
<script src="{% static 'ltr/scripts/tooltips.min.js' %}"></script> 
<script src="{% static 'ltr/scripts/color_switcher.js' %}"></script>
<script src="{% static 'ltr/scripts/jquery_custom.js' %}"></script>
<script src="{% static 'ltr/scripts/typed.js' %}"></script>
{% endif %}

 
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script> 
<script src="{% static 'js/mainFunctions.js' %}"></script>





         
<script src="https://apis.google.com/js/api:client.js?onload=onLoadCallback" async defer></script>               
<script>
var auth2;
var googleUser = {};
var auth3;

element = document.getElementById('google');
    function fb_login(){
        FB.login(function(response) {
    
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                //console.log(response); // dump complete info
                access_token = response.authResponse.accessToken; //get access token
                user_id = response.authResponse.userID; //get FB UID
    
                FB.api('/me?fields=id,name,email,first_name,last_name,picture.type(large)', function(response) {
                        // console.log("ahhhhhhhhhh: "+response.name);
                        SignInNowSocial(response.name.replace(/\s/g, ''),response.email,
                        response.first_name,
                        response.last_name,
                    response.picture.data.url,2,"Facebook");
    
                        console.log(response.picture.data.url);
                        console.log(response.first_name);
                        console.log(response.last_name);
                        console.log(response.email);
                    
                        }); 
    
            } else {
                //user hit cancel button
                console.log('User cancelled login or did not fully authorize.');
    
            }
        }, {
            scope: 'public_profile,email,user_photos'
        });
    }
    
    
    
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '363144762180447',
            cookie     : true,
            xfbml      : true,
            version    : 'v11.0'
          });
            console.log("FbLoaded");
            
        };
      
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
                            
                <script>
     
        
    
    
        function SignInNowSocial(username,mail,firstname,lastname,imgUrl,role,typeOfRegisteration){
            showLoader();
                    
            $.ajax({
                      type: 'POST',
                      url: '/{{LANGUAGE_CODE}}/AuthOutSide',
                      dataType: 'json',
                      data: { 
                          'username':username,
                          'email':mail,
                          'lastName':lastname,
                          'firstName':firstname,
                          'role':role,
                          'img':imgUrl,
                          'typeOfRegisteration':typeOfRegisteration
                      },
                      headers:{
                          "X-CSRFToken": csrftoken
                              },
                      cache: false,
                      success: function(result) {
                          
                          hideLoader();
                          console.log(result)
                          if(result.State=="Ok"){
                              if(result.ableToLogin=='Yes'){
                                    window.location.href = result.RedirectUrl;
                                }else{
                                    
                                    // swal("مشكلة",result.Error, "error");
                            swal('{% trans "Error" %}', result.Error, "error");
                                }
    
                          }else{
                            swal('{% trans "Error" %}', '{% trans "Error while Login" %}', "error");
                          }
                        
                      },
                      error: function (xhr, ajaxOptions, thrownError) {
                        hideLoader();
                            swal('{% trans "Error" %}', '{% trans "Error while Login" %}', "error");
                      }
                  });
    
                  
        }
    

        

window.onLoadCallback = function(){
            gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                client_id: '204450024885-4s8o46icvli7m58qfm2jbfs6ksf8b75q.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                scope: 'profile'
                });
    

                auth3 = true;
                startApp();

           
            });
    
    };

    function startApp(){
      auth2.attachClickHandler(element, {},
                function(googleUser) {
                    var profile = googleUser.getBasicProfile();
                   
                    //console.log(profile.getName().replace(/\s/g, ''));
                    SignInNowSocial(profile.getName().replace(/\s/g, ''),profile.getEmail(),
                    profile.getGivenName(),
                    profile.getFamilyName(),
                    profile.getImageUrl(),2,'Gmail');
    
                }, function(error) {
                    
                    swal('{% trans "Error While Login" %}', '{% trans "Problem" %}', "error");
                    
                }
                );
    }
    
    
    if (auth3){
        startApp();
    }

     $('#loginButton').on('click', function() {
                        login();
     });
    
     $("#formLogin").keyup(function(event) {
        if (event.keyCode === 13) {
           // Add your logic to submit to your backend server here.
                    login();
               
        }
    });
    
    
    function login(){
    
    var username = $('#username').val();
    var password = $('#password').val();
    
    if (username==""||password==""){
        // swal("مشكلة", " برجاء مراجعة الأسم والرقم السرى !", "error");
           
        swal('{% trans "Please Revies Username or Password" %}', '{% trans "Problem" %}', "error");
        
    }else{
    
    //Auth
    $('#loginButton').html('Loging ... ');
    
    $.ajax({
        type: 'POST',
        url: '/{{LANGUAGE_CODE}}/authUser',
        data: { 
            'username': username,
            'password': password
        },
        headers:{
            "X-CSRFToken": csrftoken
             },
        dataType: 'json',
        cache: false,
        success: function(result) {
            console.log(result);
           if(result['Result']=='Success'){
            var urlNew = result['url'];
           
             console.log(urlNew);
            if(urlNew.includes("/accounts/login/")){
                window.location.href = "/";
            }else{
                //var urlNew = result['url'].substr(result['url'].indexOf("next=/")+"next=/".length, result['url'].length);

                window.location.href = window.location.href;//decodeURIComponent(urlNew);
            }
           }else{
    
            $('#loginButton').html('SIGN IN');
            
            swal('{% trans "No one registered with this username or password" %}', '{% trans "Problem" %}', "error");
            // swal("مشكلة", "لايوجد شخص مسجل بهذه البيانات برجاء مراجعة الأسم والرقم السرى !", "error");
           
           }
        },error: function (xhr, ajaxOptions, thrownError) {
            console.log(thrownError)
               }
    });
    }
    
    
    }





                </script>



{% block "javascriptOfPage" %}


{% endblock %}
<!-- Style Switcher -->
<div id="color_switcher_preview">
  <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>	
	<div>
		<ul class="colors" id="color1">
			<li><a href="#" class="stylesheet"></a></li>
			<li><a href="#" class="stylesheet_1"></a></li>
			<li><a href="#" class="stylesheet_2"></a></li>			
			<li><a href="#" class="stylesheet_3"></a></li>						
			<li><a href="#" class="stylesheet_4"></a></li>
			<li><a href="#" class="stylesheet_5"></a></li>			
		</ul>
	</div>		
</div>
</body>
</html>